/*
    Code written by LD user Chris (#105465) and it is not allowed to be copied or used in any commissions or free css whatsoever
*/

/* mobile section */

@media (max-width: 768px) {

    a[href*='unsorted.php']>.cave-grid::before,
    #fraOrganizationBlock>div:nth-child(2) .cave-grid::before,
    a[href*='lionoverview.php']>.cave-grid::before {
        position: absolute;
        top: 0.6rem;
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        z-index: 1;
        display: block;
        max-width: 260px;
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
        text-shadow: 1px 1px #0000001a, 1px -1px #0000001a, -1px 1px #0000001a, -1px -1px #0000001a, 0 1px #0000001a, 0 -1px #0000001a, -1px 0 #0000001a, 1px 0 #0000001a, 0 0 3px #000000;
    }

    a[href*='unsorted.php']>.cave-grid::before {
        content: 'Unsorted';
        text-align: left;
    }

    a[href*='lionoverview.php']>.cave-grid::before {
        content: 'Pride Overview';
        text-align: right;

    }

    #fraOrganizationBlock>div:nth-child(2) .cave-grid::before {
        content: 'Nesting';
        text-align: left;
    }
}



@media (max-width: 629px) {
    a[href*='lionoverview.php']>.cave-grid::before {
        padding-right: 1.7rem;
    }
}

/* tablet and desktop section */

@media (min-width: 769px) {

    a[href*='unsorted.php']>.cave-grid::before,
    #fraOrganizationBlock>div:nth-child(2) .cave-grid::before,
    a[href*='lionoverview.php']>.cave-grid::before {
        position: absolute;
        top: 0.6rem;
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        z-index: 1;
        text-shadow: 1px 1px #0000001a, 1px -1px #0000001a, -1px 1px #0000001a, -1px -1px #0000001a, 0 1px #0000001a, 0 -1px #0000001a, -1px 0 #0000001a, 1px 0 #0000001a, 0 0 3px #000000;
    }

    a[href*='unsorted.php']>.cave-grid::before {
        content: 'Unsorted';
        left: 6rem;
    }

    a[href*='lionoverview.php']>.cave-grid::before {
        content: 'Pride Overview';
        right: 6rem;
    }

    #fraOrganizationBlock>div:nth-child(2) .cave-grid::before {
        content: 'Nesting';
        left: 6rem;
    }
}



@media (min-width: 993px) {

    a[href*='unsorted.php']>.cave-grid::before,
    #fraOrganizationBlock>div:nth-child(2) .cave-grid::before,
    a[href*='lionoverview.php']>.cave-grid::before {
        font-size: 1.6rem;
    }

    a[href*='unsorted.php']>.cave-grid::before {
        left: 2.6rem;
    }

    a[href*='lionoverview.php']>.cave-grid::before {
        right: 2.6rem;
    }

    #fraOrganizationBlock>div:nth-child(2) .cave-grid::before {
        left: 2.6rem;
    }
}

@media (min-width: 1201px) {

    a[href*='unsorted.php']>.cave-grid::before,
    #fraOrganizationBlock>div:nth-child(2) .cave-grid::before,
    a[href*='lionoverview.php']>.cave-grid::before {
        font-size: 2rem;
    }
}