/* 
    Layout Made by Chris (#105465) for free use
All of my free use layouts are subject to the rules detailed on my free CSS and HTML thread, so please keep that in mind and abide by my rules. I have chosen to make this work freely available and I can change that at any time.
https://www.lioden.com/topic.php?id=304429491963
*/
/* 
	CHEAT SHEET (ctrl + h to replace all)
	main font: 'DM Sans', Verdana, 'Geneva', Tahoma, sans-serif
	header font: 'Bodoni Moda', Georgia, 'Times New Roman', Times, serif
	font primary: ffffff
	font secondary: e2e4e9
	font tertiary: c4c8d4

	main bg: 0b0c0f80

	primary one (darkest): 0b0c0f
	primary two: 16181d
	primary three: 21232c
	primary four: 2b2f3b
	secondary one (darkest): 0b0c0f
	secondary two: 16181d
	secondary three: 21232c
	secondary four: 2b2f3b
	tertiary (caves n stuff): 3b2d2b

	red alert bg: 493836
	red alert links: ded4d3
	green alert bg: 2b2f3b
	green alert links: d3d6de
	yellow alert bg: 16181d
	yellow alert links: d3d6de

	and now...the fun one
	button one (darkest): b29999
	button two: bda8a8
	button three: c8b6b6
	button four: d3c5c5
	button five: ded3d3
	button six: e9e2e2
	button text: 000000
	red button one (darkest): 160604
	red button two: 2b0b08
	red button three: 41110b
	red button four: 57160f
	red button five: 6c1c13
	red button six: 822217
	red button seven: 98271b
	red button eight: ad2d1f
	red button text: ffffff

	progress bar is too situational for cheat sheets lol sorry you'll have to ctrl + f on that one
*/

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Body */
body {
	font-family: 'DM Sans', Verdana, 'Geneva', Tahoma, sans-serif;
	background: #0f1014 url('../../img/seasons/spring-blossoms-night.jpg') fixed;
	background-position-y: center;
	background-position-x: center;
	/* DON'T CHANGE BELOW */
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}

/* Headers */
h1,
h2,
h3,
.sidebar h3 {
	color: #ffffff;
	font-family: 'Bodoni Moda', Georgia, 'Times New Roman', Times, serif;
}

/* Other Text */
p,
b,
#fraProfileContent {
	color: #ffffff;
}

small {
	color: #ffffff !important;
}

/* Links */
a:link,
a:visited,
a:active {
	color: #e2e4e9;
}

a:hover,
a:focus {
	color: #ffffff;
}

/* Topbar */
.topbar a:link,
.topbar a:visited,
.topbar a:active {
	color: #e2e4e9;
}

.topbar a:hover,
.topbar a:focus {
	color: #ffffff;
}

.topbar {
	background: #0b0c0f;
	border: 1px solid #e9e2e2;
	border-top: none;
	/* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
	color: #ffffff;
}

/* Navbar */
.navbar {
	background: #16181d;
	border-bottom: 1px solid #e9e2e2;
	/* border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
	font-family: 'Bodoni Moda', Georgia, 'Times New Roman', Times, serif;
}

/* logo if applicable */
.navbar-brand img {
	filter: hue-rotate(-30deg) saturate(20%);
}

/* navbar defaults */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	color: #e2e4e9;
}

.navbar-default .navbar-nav>li>a {
	color: #e2e4e9;
	font-weight: bold;
	text-transform: capitalize;
}

/* mobile toggle box */
.navbar-default .navbar-toggle {
	border-color: transparent;
}

/* make different from navbar */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: #21232c;
}

/* bars in navbar icon */
.navbar-default .navbar-toggle .icon-bar {
	background: #ffffff;
}

/* collapsed navbar */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #0b0c0f;
	box-shadow: none;
}

/* active and hovered links in navbar */
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar .active a:link,
.navbar .active a:visited,
.navbar .active a:active,
.navbar .active a:focus {
	background: #21232c;
	color: #ffffff;
	/* border-radius: 10px; */
}

/* main */
.main {
	background: #0b0c0f80;
	border-radius: none;
	border: 1px solid #e9e2e2;
	box-shadow: none;
}

/* territory box */
.col-md-9 {
	background: none;
}

/* Breadcrumb */
.breadcrumb {
	background: #21232c;
	border: 1px solid #e9e2e2;
	/* border-radius: 10px; */
}

.breadcrumb::after {
	content: "CSS by Chris (#105465)";
	position: absolute;
	right: 20%;
	z-index: 100;
	color: #ffffff;
}

.breadcrumb-item.active,
.breadcrumb-item::before {
	color: #c4c8d4 !important;
}

/* Side Bar */
/* side panel bg */
.sidebar.col-md-3 {
	background: none;
}

/* sidebar inner boxes */
.col-md-3 .panel {
	border: 1px solid #e9e2e2;
	/* border-radius: 10px; */
	background: #21232c;
	box-shadow: none;
	color: #ffffff;
}

/* dotted line above chat on smaller screen sizes */
.clear {
	border-color: #ffffff !important;
}

/* Progress Bars */
/* background container */
.progress {
	background: #fff;
	border-radius: 20px;
}

/* default and impression */
.progress-bar {
	background: #c9b8b6;
}

/* if you want all to match comment out the next three classes */
/* exp, hunger, and energy */
/* .progress-bar-success {
	background: #ffc680;
}
.progress-bar-danger {
	background: #ffba66;
}
.progress-bar-warning {
	background: #ffaf4d;
} */
/* text inside the progress bars */
.progress div {
	color: #000;
	font-family: 'DM Sans', Verdana, 'Geneva', Tahoma, sans-serif;
}

/* alerts */
/* all */
.alert-danger,
.alert-success,
.alert-warning {
	border: 1px solid #e9e2e2;
	/* border-radius: 10px; */
}

/* red notifications */
.alert-danger {
	color: #ffffff;
	background: #493836;
}

.alert-danger>a,
.alert-danger>a:link,
.alert-danger>a:active,
.alert-danger>a:visited {
	color: #ded4d3;
}

.alert-danger>a:hover,
.alert-danger>a:focus,
.alert-danger b {
	color: #ffffff;
}

/* green notifications */
.alert-success {
	color: #ffffff;
	background: #2b2f3b;
}

.alert-success>a,
.alert-success>a:link,
.alert-success>a:active,
.alert-success>a:visited {
	color: #d3d6de;
}

.alert-success>a:hover,
.alert-success>a:focus,
.alert-success b {
	color: #ffffff;
}

/* yellow notifications */
.alert-warning {
	color: #ffffff;
	background: #16181d;
}

.alert-warning>a,
.alert-warning>a:link,
.alert-warning>a:active,
.alert-warning>a:visited {
	color: #d3d6de;
}

.alert-warning>a:hover,
.alert-warning>a:focus,
.alert-warning b {
	color: #ffffff;
}

/* HTML boxes if applicable */


/* comment box */
#commentBox {
	border: 1px solid #e9e2e2 !important;
	border-radius: 5px !important;
	height: 200px !important;
	background: #2b2f3b;
}

.comment:nth-child(even) {
	background: #21232c !important;
}

/* scrollbar */
#commentBox::-webkit-scrollbar {
	height: 0;
	width: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #fff;
}

/* scrollbar button */
#commentBox::-webkit-scrollbar-thumb {
	background: #16181d;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#commentBox::-webkit-scrollbar-thumb:hover {
	background: #0b0c0f;
}

/* tables */
/* table headers */
.table .top,
.table th {
	background: #0b0c0f;
	color: #ffffff;
	font-family: 'Bodoni Moda', Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	/* border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
}

/* lion title and name */
.xlarge.b {
	font-weight: bold;
}

/* lion image if applicable */
#lion_image>div {
	border-radius: 10px;
	border: none;
}

/* table body */
.table {
	background: #2b2f3b;
	border: 1px solid #e9e2e2;
	color: #ffffff;
	/* border-collapse: separate; */
	/* border-radius: 10px; */
}

/* table links */
.table .top a:link,
.table .top a:active,
.table .top a:visited,
.table th a:link,
.table th a:active,
.table th a:visited {
	color: #e2e4e9;
	font-weight: bold;
}

.table .top a:hover,
.table th a:hover,
.table .top a:focus,
.table th a:focus {
	color: #ffffff;
	font-weight: bold;
}

/* left side of stats on king and status bars in caves */
.table .left {
	background: #16181d;
}

/* left side of stats on king */
.inner-table .left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* right side of king stats */
.inner-table .right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #21232c;
}

/* every other lion in caves */
.table .right_odd {
	background: #21232c;
}

/* table footers */
.table .innerHeader,
.table .bottom,
#player>tbody>tr {
	background: #0b0c0f;
	color: #ffffff;
	/* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

/* player table footer adjustments for rounded corners */
#player .right_odd {
	background: none;
	/* border-bottom-right-radius: 10px; */
}

/* #player .right_odd:first-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0;
} */
#player tr.right {
	background: none;
}

/* quick link to mutated lions under king panel */
.table .bottom a:link,
.table .bottom a:visited,
.table .bottom a:active {
	color: #e2e4e9;
	text-decoration: none;
}

.table .bottom a:hover,
.table .bottom a:focus {
	color: #ffffff;
	text-decoration: underline;
}

/* hr in player table */
#player hr {
	border-color: transparent;
	margin: 0;
	margin-top: 1em;
}

/* little :|: spans in player table */
#player .text-muted {
	color: #ffffff80;
}

/* days left until heat badge */
.badge {
	background: #3b2d2b;
	color: #ffffff;
	border: 1px solid #e9e2e2;
}

/* inputs for typing in text in territory description etc. */
textarea,
input,
select,
#fra_chatContainer #txtChatInput {
	color: #000000;
	background: #ffffff;
	border: 1px solid #0b0c0f;
}

input::placeholder {
	color: #00000080;
}

/* Caves and Mounds Main */
/* main overrides */
.mound-grid,
.cave-grid {
	background: #3b2d2b;
	border: 1px solid #e9e2e2;
	/* border-radius: 10px; */
	color: #e2e4e9;
}

/* cave and mound link hover */
.center>a:hover>.cave-grid,
.center>a:focus>.cave-grid,
.center>a:hover>.mound-grid,
.center>a:focus>.mound-grid {
	color: #ffffff;
}

/* cave and mound customization if applicable */
/* all caves */
.cave-grid>img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/thelonging.png');
	height: 120px;
	object-fit: cover;
	object-position: top;
	filter: contrast(120%) saturate(80%);
}

/* pride tabs */
img[src$='//static.lioden.com/images/layout/unsortedlionsbanner.png'],
img[src$='//static.lioden.com/images/layout/nestingbanner.png'],
img[src$='//static.lioden.com/images/layout/prideoverviewbanner.png'] {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/ubhubhubhucr.png');
	height: 80px;
	object-fit: cover;
	object-position: top;
	filter: contrast(150%) saturate(40%) brightness(90%);
}

/* all mounds but like a cave */
.mound-grid {
	padding: 0 0 5px 0;
}

.mound-grid img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/afrbushveld.png');
	height: 100px;
	width: 100%;
	object-fit: cover;
	object-position: top;
	filter: contrast(120%) saturate(80%);
}

/* create mound image and empty cave slots */
img[src$='//static.lioden.com/images/layout/addbeetlemound.png'],
img[src$='//static.lioden.com/images/layout/caveunused.jpg'] {
	filter: saturate(50%);
}

/* featured lion section */
.featured-lion {
	background: #0b0c0f;
	color: #ffffff;
	margin-bottom: 20px;
	/* border-radius: 10px; */
	box-shadow: 0 0 0 1px #e9e2e2;
}

/* .featured-lion img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
} */
/* very important if you want it to not look ugly anymore lol don't change the padding here or the media queries at the bottom */
.featured-lion .b {
	padding-top: 8px;
}

.featured-lion a:hover,
.featured-lion a:focus {
	color: #ffffff;
}

.featured-lion a:link,
.featured-lion a:active,
.featured-lion a:visited {
	color: #e2e4e9;
}

/* owned by text */
h1.center>small,
h1.center>small a:hover,
h1.center>small a:focus {
	color: #ffffff !important;
}

h1.center>small a,
h1.center>small a:link,
h1.center>small a:visited,
h1.center>small a:active {
	color: #e2e4e9 !important;
}

/* dropdown */
.table .bottom select {
	color: #ffffff;
}

/* Inner Mounds */
/* menu bg */
.sub_menu {
	background: #0b0c0f;
	border: 1px solid #e9e2e2;
	/* border-radius: 10px; */
}

/* highlighted item on menu */
.sub_menu_item_selected {
	background: #16181d;
	/* border-radius: 10px; */
	color: #ffffff;
}

.sub_sub_menu {
	display: none;
}

/* Feature Styling (like feed all play all etc.) */
div.feature {
	/* border-radius: 10px; */
	border: 1px solid #e9e2e2;
	background: #2b2f3b;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* dropdown width (acts funny on smaller screens at the default 200px sometimes) */
div.feature select {
	width: 180px !important;
}

/* header */
div.feature h3 {
	color: #ffffff;
}

.feature-footer {
	background: #2b2f3b;
}

/* inner text */
.feature .xsmall {
	color: #ffffff;
}

/* Dynasty Pills */
/* dynasty main */
div.left {
	background: #3b2d2b;
	/* border-radius: 10px; */
	border: 1px solid #e9e2e2;
	color: #ffffff;
}

/* custom dynasty images */
div.left img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/visionofancestors.png');
	object-fit: cover;
	object-position: top;
	padding: 0;
	height: 80px;
	max-width: 500px !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	filter: contrast(120%) saturate(80%);
}

.dynastylist .left {
	padding: 5px 0 0 0;
}

/* dynasty headers */
.dynastylist h3 {
	color: #e2e4e9;
	padding-top: 5px;
}

.dynastylist h3:hover,
.dynastylist h3:focus {
	color: #ffffff;
}

/* links in the pills beneath dynasty stuff */
a div.left {
	color: #e2e4e9;
}

a div.left:hover,
a div.left:focus {
	color: #ffffff;
}

/* Branch */
.item {
	background: #21232c;
	border: none;
	border-radius: 5px;
}

.item-header {
	background: #16181d;
	color: #ffffff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.item-footer {
	background: #16181d;
	color: #ffffff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* clan stuff */
.page-description {
	border: 1px solid #e9e2e2;
	background: #2b2f3b;
	padding: 20px;
}

.page-description>div {
	padding: 0;
	margin: 0;
}

/* Buttons */
/* all */
.select-control,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.select-control:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.select-control.bad,
button.button.bad,
input[type="button"].bad,
input[type="submit"].bad,
input[type="reset"].bad,
.select-control.bad:hover,
button.button.bad:hover,
input[type="button"].bad:hover,
input[type="submit"].bad:hover,
input[type="reset"].bad:hover {
	border-radius: 3px;
}

/* regular button */
.select-control,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	background: #e9e2e2;
	background: linear-gradient(to bottom, #e9e2e2 5%, #d3c5c5 5%, #d3c5c5 95%, #bda8a8 95%);
	color: #000000;
	border: 1px solid #bda8a8;
	text-shadow: 1px 1px 0px #e9e2e2;
	font-family: 'DM Sans', Verdana, 'Geneva', Tahoma, sans-serif;
}

/* regular button hover */
.select-control:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background: #ded3d3;
	background: linear-gradient(to bottom, #ded3d3 5%, #c8b6b6 5%, #c8b6b6 95%, #b29999 95%);
	color: #000000;
	border: 1px solid #b29999;
	text-shadow: 1px 1px 0px #ded3d3;
}

/* red button */
.select-control.bad,
button.button.bad,
input[type="button"].bad,
input[type="submit"].bad,
input[type="reset"].bad {
	background: #ad2d1f;
	background: linear-gradient(to bottom, #ad2d1f 5%, #822217 5%, #822217 49%, #822217 95%, #57160f 95%);
	color: #ffffff;
	border: 1px solid #2b0b08;
	text-shadow: 1px 1px 0px #57160f;
}

/* red button hover */
.select-control.bad:hover,
button.button.bad:hover,
input[type="button"].bad:hover,
input[type="submit"].bad:hover,
input[type="reset"].bad:hover {
	background: #98271b;
	background: linear-gradient(to bottom, #98271b 5%, #6c1c13 5%, #6c1c13 49%, #6c1c13 95%, #41110b 95%);
	color: #ffffff;
	border: 1px solid #160604;
	text-shadow: 1px 1px 0px #41110b;
}

/* Event Flavor Text */
/* has to go at the bottom since it likes to be mean to me otherwise trust me best left here lol */
center>div.center.b {
	color: #ffcccc !important;
	text-shadow: 0 0 3px #000;
}

/* Footer */
/* technically applies to all "white" text on the site but mainly applies to the footer text */
.white {
	color: #ffffff;
	text-shadow: 0 0 5px #000;
}

/* bottom links container size to prevent weird stacking issues */
ul.bottomlinks {
	width: max-content !important;
}

/* bottoms links */
.bottomlinks li a,
.bottomlinks li a:link,
.bottomlinks li a:active,
.bottomlinks li a:visited,
.footer a,
.footer a:link,
.footer a:active,
.footer a:visited {
	color: #e2e4e9;
}

.bottomlinks li a:hover,
.bottomlinks li a:focus,
.footer a:hover,
footer a:focus {
	color: #ffffff;
}

/*#region Chat */
/* main container */
#chatMessageContainer {
	border: 1px solid #e9e2e2;
}

/* chat buttons */
#btnChatSettings,
#btnLoadNewMessages,
.s-chat-message_menu {
	filter: grayscale() brightness(500%);
}

/* menu dropbox */
.channelMenu>button,
.channelMenu>div {
	background: #0b0c0f !important;
	border-color: #e9e2e2 !important;
	box-shadow: none !important;
	color: #e2e4e9 !important;
	box-shadow: none !important;
}

/* message text */
.s-chat-message {
	color: #ffffff;
}

/* even messages */
.s-chat-message:nth-child(even) {
	background: #2b2f3b;
}

/* odd messages */
.s-chat-message:nth-child(odd) {
	background: #21232c;
}

/* mention */
#chatMessageList[data-pings="enabled"] .s-chat-message_mention,
.s-chat-message.hasContext {
	background: #2b2f3b !important;
	border-color: #0b0c0f !important;
	color: #ffffff !important;
	padding-left: 10px;
}

.s-chat-message.hasContext .s-chat-message_timestamp,
.s-chat-message_mention.s-chat-message_timestamp {
	padding-left: 10px;
}

#chatMessageList[data-pings="enabled"] .s-chat-message_mention a {
	color: #e2e4e9 !important;
}

#chatMessageList[data-pings="enabled"] .s-chat-message_mention a:hover,
#chatMessageList[data-pings="enabled"] .s-chat-message_mention a:focus {
	color: #ffffff !important;
}

/* scrollbar */
#chatMessageList::-webkit-scrollbar {
	width: 8px;
	background: #fff;
}

/* scrollbar button */
#chatMessageList::-webkit-scrollbar-thumb {
	background: #16181d;
	border-radius: 0;
}

#chatMessageList::-webkit-scrollbar-thumb:hover {
	background: #0b0c0f;
}

/* claim badge */
.s-chat-message_claim {
	background: #16181d;
	border-bottom: none;
	color: #ffffff;
}

/* claim popout box stuff */
#modalClaimBG {
	background: rgba(0, 0, 0, 0.5);
}

/* main inner bit */
#modalClaimList {
	background: #2b2f3b;
	color: #ffffff;
	border: none;
}

#modalClaimList a,
#modalClaimList a:active,
#modalClaimList a:visited,
#modalClaimList a:link {
	color: #e2e4e9;
}

#modalClaimList a:hover,
#modalClaimList a:focus {
	color: #ffffff;
}

/* header */
#modalClaimList h3 {
	background: #16181d;
	color: #ffffff;
}

/* close button */
#modalClaimList button.close {
	color: #ffffff;
}

/* pinned message */
#chatMessagePinned,
#chatMessagePinned.s-chat-message__pinned {
	background: #0b0c0f;
	color: #ffffff !important;
	border: none !important;
}

.s-chat-sidebar #chatMessagePinned.s-chat-message__pinned {
	text-indent: 4px;
}

/* timestamp */
.s-chat-message_timestamp {
	color: #ffffff;
}

/* mod message text (best left at #000) */
.s-chat-message__mod,
.s-chat-message__mod .s-chat-message_content,
.s-chat-message__mod .s-chat-message_timestamp {
	color: #000;
}

#fra_chatContainer .channelMenu .channelSwitcher {
	color: #ffffff;
}

#fra_chatContainer .channelMenu .channelSwitcher:hover,
#fra_chatContainer .channelMenu .channelSwitcher:focus {
	background: #16181d;
	color: #ffffff;
}

#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: #21232c;
	color: #ffffff;
}

/* settings text (DO NOT CHANGE OR IT WILL BREAK) */
#fra_chatContainer label {
	color: #000;
}

/* char count */
#lblCharacterCounter {
	color: #ffffff !important;
}

/* code of conduct & chat room link */
a[href$='./code.php'],
a[href$='./chat.php'] {
	color: #ffffff;
}

/*#endregion */

/* Media Query Adjustments */
@media (max-width: 993px) {
	.dynastylist {
		margin-bottom: 15px;
	}
}

@media (max-width: 768px) {
	body {
		background-position-y: center;
		background-position-x: center;
		/* DON'T CHANGE BELOW */
		background-repeat: no-repeat;
		background-size: cover;
		width: auto !important;
		min-width: 600px;
	}

	.main,
	.topbar {
		box-shadow: none !important;
	}

	#fraProfileContent.hidden-xs {
		display: block !important;
	}

	.breadcrumb::after {
		right: 22% !important;
	}
}

@media (max-width: 684px) {
	div.lionImage.featured-lion>div {
		height: 475px !important;
	}
}

@media (max-width: 620px) {
	div.lionImage.featured-lion>div {
		height: 450px !important;
	}
}