/*
    Layout Made by Chris (#105465) for free use
All of my free use layouts are subject to the rules detailed on my free CSS and HTML thread, so please keep that in mind and abide by my rules. I have chosen to make this work freely available and I can change that at any time
https://www.lioden.com/topic.php?id=304429491963
    */

/* font import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*variables*/
:root {
	--fc1: #000000;
	--fc2: #270c15;
	--fc3: #4e182a;
	--eventText: #003300;
	--mainFont: 'Nunito', Verdana, 'Geneva', Tahoma, sans-serif;
	--headFont: 'Libre Bodoni', 'Times New Roman', Times, serif;
	--bgColor: #f9ebf0;
	--pc1: #e19db3;
	--pc2: #e7b1c2;
	--pc3: #edc4d1;
	--pc4: #f3d8e1;
	--sc1: #e19db3;
	--sc2: #e7b1c2;
	--sc3: #edc4d1;
	--sc4: #f3d8e1;
	--tc: #d9d9d9;
	--borderColor: #000000;
	--redAlert: #f3d8d8;
	--redLink: #270c0c;
	--greenAlert: #c4edc4;
	--greenLink: #0c270c;
	--yellowAlert: #ede3c4;
	--yellowLink: #27200c;
	--button1: #000000;
	--button2: #0d0d0d;
	--button3: #1a1a1a;
	--button4: #262626;
	--button5: #333333;
	--button6: #404040;
	--buttonText: #ffffff;
	--redButton1: #1a0000;
	--redButton2: #330000;
	--redButton3: #4d0000;
	--redButton4: #660000;
	--redButton5: #800000;
	--redButton6: #990000;
	--redButtonText: #ffffff;
}

/* Body */
body {
	font-family: var(--mainFont);
	background-color: #f3d8e1;
	background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82.42 180h-1.415L0 98.995v-2.827L6.167 90 0 83.833V81.004L81.005 0h2.827L90 6.167 96.167 0H98.996L180 81.005v2.827L173.833 90 180 96.167V98.996L98.995 180h-2.827L90 173.833 83.833 180H82.42zm0-1.414L1.413 97.58 8.994 90l-7.58-7.58L82.42 1.413 90 8.994l7.58-7.58 81.006 81.005-7.58 7.58 7.58 7.58-81.005 81.006-7.58-7.58-7.58 7.58zM175.196 0h-25.832c1.033 2.924 2.616 5.59 4.625 7.868C152.145 9.682 151 12.208 151 15c0 5.523 4.477 10 10 10 1.657 0 3 1.343 3 3v4h16V0h-4.803c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6s-6-2.686-6-6c0-1.093.292-2.117.803-3h10.394-13.685C161.18.938 161 1.948 161 3v4c-4.418 0-8 3.582-8 8s3.582 8 8 8c2.76 0 5 2.24 5 5v2h4v-4h2v4h4v-4h2v4h2V0h-4.803zm-15.783 0c-.27.954-.414 1.96-.414 3v2.2c-1.25.254-2.414.74-3.447 1.412-1.716-1.93-3.098-4.164-4.054-6.612h7.914zM180 17h-3l2.143-10H180v10zm-30.635 163c-.884-2.502-1.365-5.195-1.365-8 0-13.255 10.748-24 23.99-24H180v32h-30.635zm12.147 0c.5-1.416 1.345-2.67 2.434-3.66l-1.345-1.48c-1.498 1.364-2.62 3.136-3.186 5.14H151.5c-.97-2.48-1.5-5.177-1.5-8 0-12.15 9.84-22 22-22h8v30h-18.488zm13.685 0c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 148h8.01C21.26 148 32 158.742 32 172c0 2.805-.48 5.498-1.366 8H0v-32zm0 2h8c12.15 0 22 9.847 22 22 0 2.822-.53 5.52-1.5 8h-7.914c-.567-2.004-1.688-3.776-3.187-5.14l-1.346 1.48c1.09.99 1.933 2.244 2.434 3.66H0v-30zm15.197 30c-1.037-1.793-2.976-3-5.197-3-2.22 0-4.16 1.207-5.197 3h10.394zM0 32h16v-4c0-1.657 1.343-3 3-3 5.523 0 10-4.477 10-10 0-2.794-1.145-5.32-2.992-7.134C28.018 5.586 29.6 2.924 30.634 0H0v32zm0-2h2v-4h2v4h4v-4h2v4h4v-2c0-2.76 2.24-5 5-5 4.418 0 8-3.582 8-8s-3.582-8-8-8V3c0-1.052-.18-2.062-.512-3H0v30zM28.5 0c-.954 2.448-2.335 4.683-4.05 6.613-1.035-.672-2.2-1.16-3.45-1.413V3c0-1.04-.144-2.046-.414-3H28.5zM0 17h3L.857 7H0v10zM15.197 0c.51.883.803 1.907.803 3 0 3.314-2.686 6-6 6S4 6.314 4 3c0-1.093.292-2.117.803-3h10.394zM109 115c-1.657 0-3 1.343-3 3v4H74v-4c0-1.657-1.343-3-3-3-5.523 0-10-4.477-10-10 0-2.793 1.145-5.318 2.99-7.132C60.262 93.638 58 88.084 58 82c0-13.255 10.748-24 23.99-24h16.02C111.26 58 122 68.742 122 82c0 6.082-2.263 11.636-5.992 15.866C117.855 99.68 119 102.206 119 105c0 5.523-4.477 10-10 10zm0-2c-2.76 0-5 2.24-5 5v2h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-4h-2v4h-4v-2c0-2.76-2.24-5-5-5-4.418 0-8-3.582-8-8s3.582-8 8-8v-4c0-2.64 1.136-5.013 2.946-6.66L72.6 84.86C70.39 86.874 69 89.775 69 93v2.2c-1.25.254-2.414.74-3.447 1.412C62.098 92.727 60 87.61 60 82c0-12.15 9.84-22 22-22h16c12.15 0 22 9.847 22 22 0 5.61-2.097 10.728-5.55 14.613-1.035-.672-2.2-1.16-3.45-1.413V93c0-3.226-1.39-6.127-3.6-8.14l-1.346 1.48C107.864 87.987 109 90.36 109 93v4c4.418 0 8 3.582 8 8s-3.582 8-8 8zM90.857 97L93 107h-6l2.143-10h1.714zM80 99c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm20 0c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6z' fill='%23000000' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-size: 180px 180px;
	background-repeat: repeat;
	/* DON'T CHANGE BELOW */
	color: var(--fc1);
}

/* Headers */
h1,
h2,
h3,
.sidebar h3 {
	color: var(--fc1);
	font-family: var(--headFont);
}

/* Other Text */
p,
b,
#fraProfileContent {
	color: var(--fc1);
}

small {
	color: var(--fc1) !important;
}

/* Links */
a:link,
a:visited,
a:active {
	color: var(--fc2);
}

a:hover,
a:focus {
	color: var(--fc1);
}

/* Topbar */
.topbar a:link,
.topbar a:visited,
.topbar a:active {
	color: var(--fc2);
}

.topbar a:hover,
.topbar a:focus {
	color: var(--fc1);
}

.topbar {
	background: var(--pc1);
	border: 2px solid var(--borderColor);
	border-top: none;
	color: var(--fc1);
}

/* Navbar */
.navbar {
	background: var(--pc2);
	border-bottom: 1px solid var(--borderColor);
	font-family: var(--headFont);
}

/* logo */
.navbar-brand img {
	filter: grayscale() brightness(120%) contrast(120%);
}

/* navbar defaults */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	color: var(--fc2);
}

.navbar-default .navbar-nav>li>a {
	color: var(--fc2);
	font-weight: bold;
	text-transform: capitalize;
}

/* mobile toggle box */
.navbar-default .navbar-toggle {
	border-color: transparent;
}

/* make different from navbar */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: var(--pc3);
}

/* bars in navbar icon */
.navbar-default .navbar-toggle .icon-bar {
	background: var(--fc1);
}

/* collapsed navbar */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: var(--pc1);
	box-shadow: none;
}

/* active and hovered links in navbar */
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar .active a:link,
.navbar .active a:visited,
.navbar .active a:active,
.navbar .active a:focus {
	background: var(--pc3);
	color: var(--fc1);
}

/* main */
.main {
	background: var(--bgColor);
	border-radius: 0;
	border: 2px solid var(--borderColor);
	box-shadow: none;
}

/* territory box */
.col-md-9 {
	background: none;
}

/* Breadcrumb */
.breadcrumb {
	background: var(--pc3);
	border: 1px solid var(--borderColor);
}

.breadcrumb::after {
	content: "CSS by Chris (#105465)";
	position: absolute;
	right: 20%;
	z-index: 100;
	color: var(--fc1);
}

.breadcrumb-item.active,
.breadcrumb-item::before {
	color: var(--fc3) !important;
}

/* Side Bar */
/* side panel bg */
.sidebar.col-md-3 {
	background: none;
}

/* sidebar inner boxes */
.col-md-3 .panel {
	border: 1px solid var(--borderColor);
	background: var(--pc3);
	box-shadow: none;
	color: var(--fc1);
}

/* dotted line above chat on smaller screen sizes */
.clear {
	border-color: var(--fc1) !important;
}

/* Progress Bars */
/* background container */
.progress {
	background: #fff;
	/* border-radius: 20px; */
	border: 1px solid #fff;
}

/* default and impression */
.progress-bar {
	background: var(--tc);
}

/* if you want all to match comment out the next three classes */
/* exp, hunger, energy, and thirst respectively */
/* .progress-bar-success {
    background: #ffc680;
    }
    .progress-bar-danger {
    background: #ffba66;
    }
    .progress-bar-warning {
    background: #ffaf4d;
    }
    .progress-bar-info {
    background: #ffaf4d;
    } */
/* text inside the progress bars */
.progress div {
	color: #000;
	font-family: var(--mainFont);
}

/* alerts */
/* all */
.alert-danger,
.alert-success,
.alert-warning,
.alert {
	color: var(--fc1);
	background: var(--greenAlert);
	border: 1px solid var(--borderColor) !important;
}

/* red notifications */
.alert-danger {
	color: var(--fc1) !important;
	background: var(--redAlert);
}

.alert-danger>a,
.alert-danger>a:link,
.alert-danger>a:active,
.alert-danger>a:visited {
	color: var(--redLink);
}

.alert-danger>a:hover,
.alert-danger>a:focus,
.alert-danger b {
	color: var(--fc1);
}

/* green notifications */
.alert-success {
	color: var(--fc1);
	background: var(--greenAlert);
}

.alert-success>a,
.alert-success>a:link,
.alert-success>a:active,
.alert-success>a:visited {
	color: var(--greenLink);
}

.alert-success>a:hover,
.alert-success>a:focus,
.alert-success b {
	color: var(--fc1);
}

/* yellow notifications */
.alert-warning {
	color: var(--fc1);
	background: var(--yellowAlert);
}

.alert-warning>a,
.alert-warning>a:link,
.alert-warning>a:active,
.alert-warning>a:visited {
	color: var(--yellowLink);
}

.alert-warning>a:hover,
.alert-warning>a:focus,
.alert-warning b {
	color: var(--fc1);
}

/* HTML Boxes if applicable */
.bigBox,
.smallBox,
.bottomBox {
	background-color: var(--pc3) !important;
	border: 1px solid var(--borderColor);
	color: var(--fc1) !important;
	border-radius: 3px !important;
}

/* comment box */
#commentBox {
	border: 1px solid var(--borderColor) !important;
	border-radius: 5px !important;
	height: 200px !important;
	background: var(--pc4);
}

.comment:nth-child(even) {
	background: var(--pc3) !important;
}

/* tables */
/* table headers */
.table .top,
.table th {
	background: var(--sc1);
	color: var(--fc1);
	font-family: var(--headFont);
	font-weight: bold;
}

/* lion title and name */
.xlarge.b {
	font-weight: bold;
}

/* lion image */
#lion_image>div {
	border-radius: 10px;
	border: 1px solid var(--borderColor);
}

/* table body */
.table {
	background: var(--sc4);
	border: 1px solid var(--borderColor);
	color: var(--fc1);
}

/* table links */
.table .top a:link,
.table .top a:active,
.table .top a:visited,
.table th a:link,
.table th a:active,
.table th a:visited {
	color: var(--fc2);
	font-weight: bold;
	border-bottom: none;
}

.table .top a:hover,
.table th a:hover,
.table .top a:focus,
.table th a:focus {
	color: var(--fc1);
	font-weight: bold;
}

/* left side of stats on king and status bars in caves */
.table .left {
	background: var(--sc2);
}

/* left side of stats on king */
.inner-table .left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* right side of king stats */
.inner-table .right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: var(--sc3);
}

/* every other lion in caves */
.table .right_odd {
	background: var(--sc3);
}

/* table footers */
.table .innerHeader,
.table .bottom,
#player>tbody>tr {
	background: var(--sc1);
	color: var(--fc1);
}

/* player table footer adjustments for rounded corners */
#player .right_odd {
	background: none;
}

#player tr.right {
	background: none;
}

/* quick link to mutated lions under king panel */
.table .bottom a:link,
.table .bottom a:visited,
.table .bottom a:active {
	color: var(--fc2);
	text-decoration: none;
}

.table .bottom a:hover,
.table .bottom a:focus {
	color: var(--fc1);
	text-decoration: underline;
}

/* hr in player table */
#player hr {
	border-color: transparent;
	margin: 0;
	margin-top: 1em;
}

/* little :|: spans in player table */
#player .text-muted {
	color: #00000080;
}

/* days left until heat badge */
.badge {
	background: var(--tc);
	color: var(--fc1);
	border: 1px solid var(--borderColor);
}

/* inputs for typing in text in territory description etc. */
textarea,
input,
select,
#fra_chatContainer #txtChatInput {
	color: #000000;
	background: #ffffff;
	border: 1px solid var(--sc1);
}

input::placeholder {
	color: #00000080;
}

/* CLAN STUFF */
.page-description {
	border: 1px solid var(--borderColor);
	background: var(--pc4);
	padding: 20px;
}

.page-description>div {
	padding: 0 !important;
	margin: 0 !important;
}

/* Caves and Mounds Main */
/* main overrides */
.mound-grid,
.cave-grid {
	background: var(--tc);
	border: 1px solid var(--borderColor);
	color: var(--fc2);
}

/* cave and mound link hover */
.center>a:hover>.cave-grid,
.center>a:focus>.cave-grid,
.center>a:hover>.mound-grid,
.center>a:focus>.mound-grid {
	color: var(--fc1);
}

/* cave and mound customization */
/* all caves */
.cave-grid>img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/zaxromanticbeachBG.png');
	height: 120px;
	object-fit: cover;
	object-position: center;
	filter: grayscale();
}

/* pride tabs */
img[src$='//static.lioden.com/images/layout/unsortedlionsbanner.png'],
img[src$='//static.lioden.com/images/layout/nestingbanner.png'],
img[src$='//static.lioden.com/images/layout/prideoverviewbanner.png'] {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/romanticwaterfall.png');
	height: 80px;
	object-fit: cover;
	object-position: center 30%;
}

/* unsorted lions */
/* img[src$='//static.lioden.com/images/layout/unsortedlionsbanner.png'] {
    content: url('LINK');
    object-position: top;
    } */
/* pregnant lionesses */
/* img[src$='//static.lioden.com/images/layout/nestingbanner.png'] {
    content: url('LINK');
    object-position: top;
    } */
/* pride overview */
/* img[src$='//static.lioden.com/images/layout/prideoverviewbanner.png'] {
    content: url('LINK');
    object-position: top;
    } */
/* all mounds */
/* .mound-grid img {
    content: url('LINK');
    padding: 5px;
    } */
/* pride tab text overlay code by Chris (#105465) (credit must remain intact for any use of this code and I do not permit it to be used for comms or free css without explicit permission from me.) */
/* mobile section */
@media (max-width: 768px) {

	a[href*='unsorted.php']>.cave-grid::before,
	#fraOrganizationBlock>div:nth-child(2) .cave-grid::before,
	a[href*='lionoverview.php']>.cave-grid::before {
		position: absolute;
		top: 0.6rem;
		font-size: 2rem;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		z-index: 1;
		display: block;
		max-width: 260px;
		width: 100%;
		margin: 0 auto;
		padding: 0 1rem;
		text-shadow: 1px 1px #0000001a, 1px -1px #0000001a, -1px 1px #0000001a, -1px -1px #0000001a, 0 1px #0000001a, 0 -1px #0000001a, -1px 0 #0000001a, 1px 0 #0000001a, 0 0 3px #000000;
	}

	a[href*='unsorted.php']>.cave-grid::before {
		content: 'Unsorted';
		text-align: left;
	}

	a[href*='lionoverview.php']>.cave-grid::before {
		content: 'Pride Overview';
		text-align: right;
	}

	#fraOrganizationBlock>div:nth-child(2) .cave-grid::before {
		content: 'Nesting';
		text-align: left;
	}
}

@media (max-width: 629px) {
	a[href*='lionoverview.php']>.cave-grid::before {
		padding-right: 1.7rem;
	}
}

/* tablet and desktop section */
@media (min-width: 769px) {

	a[href*='unsorted.php']>.cave-grid::before,
	#fraOrganizationBlock>div:nth-child(2) .cave-grid::before,
	a[href*='lionoverview.php']>.cave-grid::before {
		position: absolute;
		top: 0.6rem;
		font-size: 2rem;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		z-index: 1;
		text-shadow: 1px 1px #0000001a, 1px -1px #0000001a, -1px 1px #0000001a, -1px -1px #0000001a, 0 1px #0000001a, 0 -1px #0000001a, -1px 0 #0000001a, 1px 0 #0000001a, 0 0 3px #000000;
	}

	a[href*='unsorted.php']>.cave-grid::before {
		content: 'Unsorted';
		left: 6rem;
	}

	a[href*='lionoverview.php']>.cave-grid::before {
		content: 'Pride Overview';
		right: 6rem;
	}

	#fraOrganizationBlock>div:nth-child(2) .cave-grid::before {
		content: 'Nesting';
		left: 6rem;
	}
}

@media (min-width: 993px) {

	a[href*='unsorted.php']>.cave-grid::before,
	#fraOrganizationBlock>div:nth-child(2) .cave-grid::before,
	a[href*='lionoverview.php']>.cave-grid::before {
		font-size: 1.6rem;
	}

	a[href*='unsorted.php']>.cave-grid::before {
		left: 2.6rem;
	}

	a[href*='lionoverview.php']>.cave-grid::before {
		right: 2.6rem;
	}

	#fraOrganizationBlock>div:nth-child(2) .cave-grid::before {
		left: 2.6rem;
	}
}

@media (min-width: 1201px) {

	a[href*='unsorted.php']>.cave-grid::before,
	#fraOrganizationBlock>div:nth-child(2) .cave-grid::before,
	a[href*='lionoverview.php']>.cave-grid::before {
		font-size: 2rem;
	}
}

/* all mounds but like a cave */
.mound-grid {
	padding: 0 0 5px 0;
}

.mound-grid img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/romantic_hotspring.png');
	height: 100px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	filter: grayscale();
}

/* create mound image and empty cave slots */
img[src$='//static.lioden.com/images/layout/addbeetlemound.png'],
img[src$='//static.lioden.com/images/layout/caveunused.jpg'] {
	filter: grayscale() contrast(50%);
}

/* featured lion section */
.featured-lion {
	background: var(--sc1);
	color: var(--fc1);
	margin-bottom: 20px;
	box-shadow: 0 0 0 1px var(--borderColor);

}

/* featured lion background image */
.featured-lion img[src$='//static.lioden.com/images/cave/default.png'] {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/romance_03.png') !important;
	filter: grayscale();
}

/* very important if you want it to not look ugly anymore lol don't change the padding here or the media queries at the bottom */
.featured-lion .b {
	padding-top: 8px;
}

.featured-lion a:hover,
.featured-lion a:focus {
	color: var(--fc1);
}

.featured-lion a:link,
.featured-lion a:active,
.featured-lion a:visited {
	color: var(--fc2);
}

/* owned by text */
h1.center>small,
h1.center>small a:hover,
h1.center>small a:focus {
	color: var(--fc1) !important;
}

h1.center>small a,
h1.center>small a:link,
h1.center>small a:visited,
h1.center>small a:active {
	color: var(--fc2) !important;
}

/* dropdown text */
.table .bottom select {
	color: #000;
}

/* Inner Mounds */
/* menu bg */
.sub_menu {
	background: var(--sc1);
	border: 1px solid var(--borderColor);
}

.sub_sub_menu {
	display: none;
}

/* Feature Styling (like feed all play all etc.) */
div.feature {
	border: 1px solid var(--borderColor);
	background: var(--sc4);
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* dropdown width (acts funny on smaller screens at the default 200px sometimes) */
div.feature select {
	width: 180px !important;
}

/* header */
div.feature h3 {
	color: var(--fc1);
}

.feature-footer {
	background: var(--sc4);
}

/* inner text */
.feature .xsmall {
	color: var(--fc1);
}

/* Dynasty Pills */
/* dynasty main */
div.left {
	background: var(--tc);
	border: 1px solid var(--borderColor);
	color: var(--fc1);
}

/* custom dynasty images */
div.left img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/romance_02.png');
	object-fit: cover;
	object-position: top;
	padding: 0;
	height: 60px;
	max-width: 500px !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	filter: grayscale();
}

.dynastylist .left {
	padding: 5px 0 0 0;
}

/* dynasty headers */
.dynastylist h3 {
	color: var(--fc2);
	padding-top: 5px;
}

.dynastylist h3:hover,
.dynastylist h3:focus {
	color: var(--fc1);
}

/* links in the pills beneath dynasty stuff */
a div.left {
	color: var(--fc2);
}

a div.left:hover,
a div.left:focus {
	color: var(--fc1);
}

/* Branch */
.item {
	background: var(--sc3);
	border: 1px solid var(--borderColor);
	border-radius: 5px;
}

.item-header {
	background: var(--sc2);
	color: var(--fc1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.item-footer {
	background: var(--sc2);
	color: var(--fc1);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Buttons */
/* all */
a.button,
.select-control,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.select-control:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.select-control.bad,
button.button.bad,
input[type="button"].bad,
input[type="submit"].bad,
input[type="reset"].bad,
.select-control.bad:hover,
button.button.bad:hover,
input[type="button"].bad:hover,
input[type="submit"].bad:hover,
input[type="reset"].bad:hover {
	border-radius: 3px;
}

/* regular button */
a.button,
.select-control,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	background: var(--button6);
	background: linear-gradient(to bottom, var(--button6) 5%, var(--button4) 5%, var(--button4) 95%, var(--button2) 95%);
	color: var(--buttonText);
	border: 1px solid var(--button2);
	text-shadow: 1px 1px 0px var(--button2);
	font-family: var(--mainFont);
}

/* regular button hover */
a.button:hover,
.select-control:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background: var(--button5);
	background: linear-gradient(to bottom, var(--button5) 5%, var(--button3) 5%, var(--button3) 95%, var(--button1) 95%);
	color: var(--buttonText);
	border: 1px solid var(--button1);
	text-shadow: 1px 1px 0px var(--button1);
}

/* red button */
.select-control.bad,
button.button.bad,
input[type="button"].bad,
input[type="submit"].bad,
input[type="reset"].bad {
	background: var(--redButton6);
	background: linear-gradient(to bottom, var(--redButton6) 5%, var(--redButton4) 5%, var(--redButton4) 49%, var(--redButton4) 95%, var(--redButton2) 95%);
	color: var(--redButtonText);
	border: 1px solid var(--redButton2);
	text-shadow: 1px 1px 0px var(--redButton2);
}

/* red button hover */
.select-control.bad:hover,
button.button.bad:hover,
input[type="button"].bad:hover,
input[type="submit"].bad:hover,
input[type="reset"].bad:hover {
	background: var(--redButton5);
	background: linear-gradient(to bottom, var(--redButton5) 5%, var(--redButton3) 5%, var(--redButton3) 49%, var(--redButton3) 95%, var(--redButton1) 95%);
	color: var(--redButtonText);
	border: 1px solid var(--redButton1);
	text-shadow: 1px 1px 0px var(--redButton1);
}

/* Event Flavor Text */
/* has to go at the bottom since it likes to be mean to me otherwise trust me best left here lol */
center>div.center.b,
center>b>span {
	color: var(--eventText) !important;
}

/* december table fix for dark layouts */
.table .table,
.table .table b {
	color: #000 !important;
}

/* Footer */
.footer {
	background: var(--bgColor);
	border-radius: 0;
	border: 2px solid var(--borderColor);
	box-shadow: none;
	padding-top: 1em;
}

img[src*='hand_text.svg'] {
	opacity: 1 !important;
	filter: brightness(0%);
}

/* technically applies to all "white" text on the site but mainly applies to the footer text */
.white {
	color: var(--fc1);
}

/* bottom links container size to prevent weird stacking issues */
ul.bottomlinks {
	width: max-content !important;
}

/* bottoms links */
.bottomlinks li a,
.bottomlinks li a:link,
.bottomlinks li a:active,
.bottomlinks li a:visited,
.footer a,
.footer a:link,
.footer a:active,
.footer a:visited {
	color: var(--fc2);
	border-bottom: none;
}

.bottomlinks li a:hover,
.bottomlinks li a:focus,
.footer a:hover,
footer a:focus {
	color: var(--fc1);
}

/*#region Chat */
/* main container */
#chatMessageContainer {
	border: 1px solid var(--borderColor);
}

/* chat buttons */
#btnChatSettings,
#btnLoadNewMessages,
.s-chat-message_menu {
	filter: grayscale() brightness(0%);
}

/* menu dropbox */
.channelMenu>button,
.channelMenu>div {
	background: var(--pc1) !important;
	border-color: var(--borderColor) !important;
	color: var(--fc2) !important;
	box-shadow: none !important;
}

/* message text */
.s-chat-message {
	color: var(--fc1);
}

/* even messages */
.s-chat-message:nth-child(even) {
	background: var(--pc4);
}

/* odd messages */
.s-chat-message:nth-child(odd) {
	background: var(--pc3);
}

/* mention */
#chatMessageList[data-pings="enabled"] .s-chat-message_mention,
.s-chat-message.hasContext {
	background: var(--sc4) !important;
	border-color: var(--sc1) !important;
	color: var(--fc1) !important;
	padding-left: 10px;
}

.s-chat-message.hasContext .s-chat-message_timestamp,
.s-chat-message_mention.s-chat-message_timestamp {
	padding-left: 10px;
}

#chatMessageList[data-pings="enabled"] .s-chat-message_mention a {
	color: var(--fc2) !important;
}

#chatMessageList[data-pings="enabled"] .s-chat-message_mention a:hover,
#chatMessageList[data-pings="enabled"] .s-chat-message_mention a:focus {
	color: var(--fc1) !important;
}

/* claim badge */
.s-chat-message_claim {
	background: var(--pc2);
	border-bottom: none;
	color: var(--fc1);
}

/* claim popout box stuff */
#modalClaimBG {
	background: rgba(0, 0, 0, 0.5);
}

/* main inner bit */
#modalClaimList {
	background: var(--pc4);
	color: var(--fc1);
	border: 1px solid var(--borderColor);
}

#modalClaimList a,
#modalClaimList a:active,
#modalClaimList a:visited,
#modalClaimList a:link {
	color: var(--fc2);
}

#modalClaimList a:hover,
#modalClaimList a:focus {
	color: var(--fc1);
}

/* header */
#modalClaimList h3 {
	background: var(--pc2);
	color: var(--fc1);
}

/* close button */
#modalClaimList button.close {
	color: var(--fc1);
}

/* pinned message */
#chatMessagePinned,
#chatMessagePinned.s-chat-message__pinned {
	background: var(--pc1);
	color: var(--fc1) !important;
	border: none !important;
}

.s-chat-sidebar #chatMessagePinned.s-chat-message__pinned {
	text-indent: 4px;
}

/* timestamp */
.s-chat-message_timestamp {
	color: var(--fc1);
}

/* mod message text (best left at #000) */
.s-chat-message__mod,
.s-chat-message__mod .s-chat-message_content,
.s-chat-message__mod .s-chat-message_timestamp {
	color: #000;
}

#fra_chatContainer .channelMenu .channelSwitcher {
	color: var(--fc1);
}

#fra_chatContainer .channelMenu .channelSwitcher:hover,
#fra_chatContainer .channelMenu .channelSwitcher:focus {
	background: var(--pc2);
	color: var(--fc1);
}

#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: var(--pc3);
	color: var(--fc1);
}

/* settings text (DO NOT CHANGE OR IT WILL BREAK) */
#fra_chatContainer label {
	color: #000;
}

/* char count */
#lblCharacterCounter {
	color: var(--fc1) !important;
}

/* code of conduct & chat room link */
a[href$='./code.php'],
a[href$='./chat.php'] {
	color: var(--fc1);
}

/*#endregion */

/* Media Query Adjustments */
@media (max-width: 993px) {
	.dynastylist {
		margin-bottom: 15px;
	}
}

@media (max-width: 768px) {
	body {
		background-position-y: center;
		background-position-x: center;
		/* DON'T CHANGE BELOW */
		background-repeat: no-repeat;
		background-size: cover;
		width: auto !important;
		min-width: 600px;
	}

	.main,
	.topbar {
		box-shadow: none !important;
	}

	#fraProfileContent.hidden-xs {
		display: block !important;
	}

	.breadcrumb::after {
		right: 22% !important;
	}
}

@media (max-width: 684px) {
	div.lionImage.featured-lion>div {
		height: 475px !important;
	}
}

@media (max-width: 620px) {
	div.lionImage.featured-lion>div {
		height: 450px !important;
	}
}