/* 
	Layout Made by Chris (#105465) for free use
All of my free use layouts are subject to the rules detailed on my free CSS and HTML thread, so please keep that in mind and abide by my rules. I have chosen to make this work freely available and I can change that at any time.
https://www.lioden.com/topic.php?id=304429491963
*/

/* Background Image and Font Family */

/* import link for font below */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');
@media (min-width: 768px) {
	body {
		font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
		background: #93B7BE;
		color: #000;
	}
}
@media (max-width: 768px) {
	body {
		font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
		background: #93B7BE;
		width: auto !important;
		min-width: 600px;
		color: #000;
	}
}

/* Headers */

h1, h2, h3 {
	color: #000;
	font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
}
.sidebar h3 {
	color: #000;
	font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
}

/* Other Text */

p {
	color: #000;
}
b {
	color: #000;
}
small {
	color: #000 !important;
}
#fraProfileContent {
	color: #000;
}

/* Links */

a:link, a:visited, a:active {
	color: #131e20;
}
a:hover {
	color: #000;
}

/* Topbar */

.topbar a:link, .topbar a:visited, .topbar a:active {
	color: #131e20;
}
.topbar a:hover {
	color: #000;
}
.topbar {
	background: #abd3c9;
	border: none;
    border-radius: 0;
	color: #000;
}

/* Navbar */

.navbar {
	background: #bcdcd4;
	border: none;
	/* border-radius: none; */
	font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
}
/* logo if applicable */
.navbar-brand img {
	/* content: url('LINK'); */
	filter: hue-rotate(150deg) saturate(10%) brightness(160%);
}
/* navbar defaults */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #131e20;
}
.navbar-default .navbar-nav > li > a {
	color: #131e20;
	font-weight: bold;
}
/* mobile toggle box */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
/* make different from navbar */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #deede9;
}
/* bars in navbar icon */
.navbar-default .navbar-toggle .icon-bar {
    background: #000;
}
/* collapsed navbar */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #131e20;
}
/* active link in navbar */
.navbar .active a:link, .navbar .active a:visited, .navbar .active a:active, .navbar .active a:focus {
	background: #cde5df;
	color: #000;
	/* border-radius: 10px; */
}
/* hovered link in navbar */
.navbar-default .navbar-nav li a:hover {
	background: #deede9;
	color: #000;
	/* border-radius: 10px; */
}
/* active and hovered link in navbar */
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #deede9;
	color: #000;
	/* border-radius: 10px; */
}

/* Main and Divs */

.main {
	background: #FFF8F2;
	border-radius: none;
	border: none;
	box-shadow: none;
}
@media (max-width: 768px) {
	.breadcrumb::after {
		right: 22%;
	}
}
@media (max-width: 993px) {
	.dynastylist {
		margin-bottom: 15px;
	}
}

/* territory box */
.col-md-9 {
	background: none;
}

/* Breadcrumb */

.breadcrumb {
	background: #deede9;
	border: none;
	/* border-radius: 10px; */
}
.breadcrumb::after {
	content: "CSS by Chris (#105465)";
	position: absolute;
	right: 20%;
	z-index: 100;
	color: #000;
}
.breadcrumb-item.active, .breadcrumb-item::before {
	color: #263c40 !important;
}

/* Alerts */

/* red notifications */
.alert-danger {
	color: #552b2b;
	background: #e5cccc;
	border: none;
	/* border-radius: 20px; */
}
.alert-danger > a, .alert-danger > a:link, .alert-danger > a:active, .alert-danger > a:visited {
	color: #442222;
}
.alert-danger > a:hover, .alert-danger > a:focus {
	color: #331a1a;
}
/* green notifications */
.alert-success {
	color: #2b552b;
	background: #cce5cc;
	border: none;
	/* border-radius: 20px; */
}
.alert-success > a, .alert-success > a:link, .alert-success > a:active, .alert-success > a:visited {
	color: #224422;
}
.alert-success > a:hover, .alert-success > a:focus {
	color: #1a331a;
}
/* yellow notifications */
.alert-warning {
	color: #554b2b;
	background: #eeeadd;
	border: none;
	/* border-radius: 20px; */
}
.alert-warning > a, .alert-warning > a:link, .alert-warning > a:active, .alert-warning > a:visited {
	color: #443c22;
}
.alert-warning > a:hover, .alert-warning > a:focus {
	color: #332d1a;
}
.alert-warning b {
	color: #2c2207;
}

/* HTML Boxes if applicable */

/* comment box */
#commentBox {
	border: none !important;
	border-radius: 5px !important;
	height: 200px !important;
	background: #dfeaec;
}
.comment:nth-child(even) {
	background: #cfdfe2 !important;
}
/* scrollbar */
#commentBox::-webkit-scrollbar{
	height: 0;
	width: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #fff;
}
/* scrollbar button */
#commentBox::-webkit-scrollbar-thumb {
	background: #afcacf;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#commentBox::-webkit-scrollbar-thumb:hover {
	background: #9fbfc6;
}

/* Tables */

/* table headers */
.table .top, .table th {
	background: #bfbfbf;
	color: #000;
	font-family: 'Zilla Slab', Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
}
/* lion title and name */
.xlarge.b {
	font-weight: bold;
}
/* lion image if applicable */

/* table body */
.table {
	background: #e6e6e6;
	border: none;
	color: #000;
}
/* table links */
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
	color: #131e20;
	font-weight: bold;
}
.table .top a:hover, .table th a:hover {
	color: #000;
	font-weight: bold;
}
/* left side of stats on king and status bars in caves */
.table .left {
	background: #cccccc;
}
/* left side of stats on king */
.inner-table .left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
/* right side of king stats */
.inner-table .right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #d9d9d9;
}
/* every other lion in caves */
.table .right_odd {
	background: #d9d9d9;
}
/* table footers */
.table .innerHeader, .table .bottom, #player > tbody > tr {
	background: #bfbfbf;
	color: #000;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}
/* player table footer adjustments for rounded corners */
#player .right_odd {
    background: none;
	/* border-bottom-right-radius: 10px; */
}
/* #player .right_odd:first-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0;
} */
#player tr.right {
    background: none;
}
/* quick link to mutated lions under king panel */
.table .bottom a:link, .table .bottom a:visited, .table .bottom a:active {
	color: #131e20;
	text-decoration: none;
}
.table .bottom a:hover, .table .bottom a:focus {
	color: #000;
	text-decoration: underline;
}
/* hr in player table */
#player hr {
	border-color: transparent;
	margin: 0;
	margin-top: 1em;
}
/* little :|: spans in player table */
#player .text-muted {
	color: #00000080;
}
/* days left until heat badge */
.badge {
	background: #8c8c8c;
	color: #000;
}
/* inputs for typing in text in territory description etc. */
textarea {
	color: #000;
}
input {
	color: #000;
}

/* Caves and Mounds Main */

/* main overrides */
.mound-grid, .cave-grid {
	background: #8c8c8c;
	border: none;
	/* border-radius: 20px; */
	color: #131e20;
}
/* cave and mound link hover */
.center > a:hover > .cave-grid, .center > a:focus > .cave-grid, .center > a:hover > .mound-grid, .center > a:focus > .mound-grid {
	color: #000;
}
/* cave and mound customization if applicable */


/* Feature Styling (like feed all play all etc.) */

div.feature {
	/* border-radius: 20px; */
	border: none;
	background: #8c8c8c;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* dropdown width (acts funny on smaller screens at the default 200px sometimes) */
div.feature select {
	width: 180px !important;
}
/* header */
div.feature h3 {
	color: #000;
}
.feature-footer {
	background: #8c8c8c;
}
/* inner text */
.feature .xsmall {
	color: #000;
}

/* Dynasty Pills */

/* dynasty main */
div.left {
	background: #8c8c8c;
	/* border-radius: 20px; */
	border: 0;
	color: #000;
}
/* dynasty images */
div.left img {
	padding: 10px;
	padding-top: 0;
}
/* dynasty headers */
.dynastylist h3 {
	color: #131e20;
	padding-top: 5px;
}
.dynastylist h3:hover, .dynastylist h3:focus {
	color: #000;
}
/* links in the pills beneath dynasty stuff */
a div.left {
	color: #131e20;
}
a div.left:hover, a div.left:focus {
	color: #000;
}

/* Side Bar */

/* side panel bg */
.sidebar.col-md-3 {
	background: none;
}
/* sidebar inner boxes */
.col-md-3 .panel {
	border: none;
	/* border-radius: 20px; */
	background: #cee4de;
	box-shadow: none;
	color: #000;
}
/* dotted line above chat on smaller screen sizes */
.clear {
	border-color: #000 !important;
}

/* Progress Bars */

/* background container */
.progress {
	background: #fff;
	/* border-radius: 20px; */
}
/* default and impression */
.progress-bar {
	background: #bfbfbf;
}
/* text inside the progress bars */
.progress div {
	color: #000;
}

/* Chat Overrides */

/* main container */
#chatMessageContainer {
	border: none;
}
/* message text */
.s-chat-message {
	color: #000;
}
/* even messages */
.s-chat-message:nth-child(even) {
	background: #dfeaec;
}
/* odd messages */
.s-chat-message:nth-child(odd) {
	background: #cfdfe2;
}
/* mention */
#chatMessageList[data-pings="enabled"] .s-chat-message_mention {
	background: #e6e6e6 !important;
	color: #000;
}
/* chat buttons */
#btnChatSettings, #btnLoadNewMessages, .s-chat-message_menu {
	filter: grayscale() brightness(0%);
}
/* scrollbar */
#chatMessageList::-webkit-scrollbar {
	width: 8px;
	background: #fff;
}
/* scrollbar button */
#chatMessageList::-webkit-scrollbar-thumb {
	background: #afcacf;
    border-radius: 0;
}
#chatMessageList::-webkit-scrollbar-thumb:hover {
	background: #9fbfc6;
}
/* claim badge */
.s-chat-message_claim {
	background: #bfd5d9;
	border-bottom: none;
	color: #000;
}
/* claim popout box stuff */
#modalClaimBG {
    background: rgba(0, 0, 0, 0.5);
}
/* main inner bit */
#modalClaimList {
    background: #dfeaec;
    color: #000;
    border: none;
}
#modalClaimList a, #modalClaimList a:active, #modalClaimList a:visited, #modalClaimList a:link {
    color: #131e20;
}
#modalClaimList a:hover, #modalClaimList a:focus {
    color: #000;
}
/* header */
#modalClaimList h3 {
    background: #bfd5d9;
	color: #000;
}
/* empty pinned message */
#chatMessagePinned {
	background: #8fb5bc;
	color: #000 !important;
	border: none !important;
}
/* pinned message */
#chatMessagePinned.s-chat-message__pinned {
	background: #8fb5bc  url('//static.lioden.com/images/layout/sticky.png') no-repeat 10px 6px;
	color: #000 !important;
	border: none !important;
}
/* timestamp */
.s-chat-message_timestamp {
	color: #000;
}
/* mod message text (best left at #000) */
.s-chat-message__mod, .s-chat-message__mod .s-chat-message_content, .s-chat-message__mod .s-chat-message_timestamp {
	color: #000;
}
/* menu dropbox */
#fra_chatContainer .channelMenu .channelSwitcher {
	color: #000;
}
#fra_chatContainer .channelMenu .channelSwitcher:hover {
	background: #bfd5d9;
	color: #000;
}
#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: #cfdfe2;
	color: #000;
}
#fra_chatContainer label {
	color: #000;
}
.channelMenu > button, .channelMenu > div {
	background: #dfeaec !important;
	border-color: transparent !important;
	box-shadow: none !important;
	color: #000 !important;
}
/* char count */
#lblCharacterCounter {
	color: #000 !important;
}
/* code of conduct */
a[href$='./code.php'] {
	color: #000;
}
/* chat room link */
a[href$='./chat.php'] {
	color: #000;
}

/* Emote List */

.emoteList {
    background: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    border: 2px solid #000;
}
.emoteList:after {
    border-bottom-color: #000;
}
.emoteList:before {
    border-bottom-color: #000;
}

/* Branch */

.item {
	background: #d9d9d9;
	border: none;
	border-radius: 5px;
}
.item-header {
	background: #cccccc;
	color: #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.item-footer {
	background: #cccccc;
	color: #000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Inner Caves */

/* featured lion section */
.featured-lion {
	background: #bfbfbf;
	color: #000;
	margin-bottom: 20px;
}
/* very important if you want it to not look ugly anymore lol don't change the padding here or the media queries */
.featured-lion .b {
	padding-top: 8px;
}
@media (max-width: 684px) {
	div.lionImage.featured-lion > div {
		height: 475px !important;
	}
}
@media (max-width: 620px) {
	div.lionImage.featured-lion > div {
		height: 450px !important;
	}
}
.featured-lion a:link, .featured-lion a:active, .featured-lion a:visited {
	color: #131e20;
}
.featured-lion a:hover, .featured-lion a:focus {
	color: #000;
}
/* owned by text */
h1.center > small {
	color: #000 !important;
}
h1.center > small a, h1.center > small a:link, h1.center > small a:visited, h1.center > small a:active {
	color: #131e20 !important;
}
h1.center > small a:hover, h1.center > small a:focus {
	color: #000 !important;
}
/* dropdown */
.table .bottom select {
	color: #000;
}

/* Inner Mounds */

/* menu bg */
.sub_menu {
	background: #bfbfbf;
	/* border-radius: none; */
}
.sub_sub_menu {
    display: none;
}

/* Buttons */

/* regular button */
.select-control, button.button, input[type="button"], input[type="submit"], input[type="reset"] {
	background: #709fa9;
	background: linear-gradient(to bottom,  #709fa9 5%,#60959f 5%,#60959f 95%,#56868f 95%);
	color: #fefefe;
	border: 1px solid #56868f;
	text-shadow: 1px 1px 0px #56868f;
	border-radius: 3px;
}
/* regular button hover */
.select-control:hover, button.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	background: #4d7780;
	background: linear-gradient(to bottom, #4d7780 5%,#436870 5%,#436870 95%,#395960 95%);
	color: #fefefe;
	border: 1px solid #395960;
	text-shadow: 1px 1px 0px #4d7780;
	border-radius: 3px;
}

/* Event Flavor Text */
/* has to go at the bottom since it likes to be mean to me otherwise trust me best left here lol */

center > div.center.b {
	color: #417668 !important;
}

/* Footer */

/* technically applies to all "white" text on the site but mainly applies to the footer text */
.white {
	color: #000;
}
/* bottom links container size to prevent weird stacking issues */
ul.bottomlinks {
	width: max-content !important;
}
/* links */
.bottomlinks li a, .bottomlinks li a:link, .bottomlinks li a:active, .bottomlinks li a:visited {
	color: #131e20;
}
.bottomlinks li a:hover, .bottomlinks li a:focus {
	color: #000;
}
/* links on smaller screen sizes */
.footer a, .footer a:link, .footer a:active, .footer a:visited {
	color: #131e20;
}
.footer a:hover, footer a:focus {
	color: #000;
}

.page-description {
    border: none;
    background: #deede9;
    padding: 20px;
}
.page-description > div {
    padding: 0;
    margin: 0;
}
