/* 
    Layout Made by Chris (#105465) for free use
All of my free use layouts are subject to the rules detailed on my free CSS and HTML thread, so please keep that in mind and abide by my rules. I have chosen to make this work freely available and I can change that at any time.
https://www.lioden.com/topic.php?id=304429491963
*/
/* 
	CHEAT SHEET (ctrl + h to replace all)
	main font: 'EB Garamond', 'Times New Roman', Times, serif
	header font: 'Tillana', 'Times New Roman', Times, serif
	font primary: ffffff
	font secondary: faf2d1
	font tertiary: f5e4a3

	main bg: 17130380

	primary one (darkest): 171303
	primary two: 2e2605
	primary three: 453908
	primary four: 5c4b0a
	secondary one (darkest): 171303
	secondary two: 2e2605
	secondary three: 453908
	secondary four: 5c4b0a
	tertiary (caves n stuff): 795A03

	red alert bg: 41160b
	red alert links: f0b7a8
	green alert bg: 33570f
	green alert links: ccf0a8
	yellow alert bg: 573a0f
	yellow alert links: f0d3a8

	and now...the fun one
	button one (darkest): 322501
	button two: 4b3702
	button three: 634a03
	button four: 7c5c03
	button five: 956e04
	button six: ae8104
	button text: ffffff
	red button one (darkest): 030317
	red button two: 06062d
	red button three: 090944
	red button four: 0c0c5a
	red button five: 0f0f71
	red button six: 121287
	red button seven: 15159e
	red button eight: 1717b5
	red button text: ffffff

	progress bar is too situational for cheat sheets lol sorry you'll have to ctrl + f on that one
*/

/* font import */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Tillana:wght@400;700&display=swap');

/* Body */
body {
	font-family: 'EB Garamond', 'Times New Roman', Times, serif;
	background: #2e2605 url('../../img/scenic/mossy-wood-crystal-ball.jpg') fixed;
	background-position-y: top;
	background-position-x: center;
	/* DON'T CHANGE BELOW */
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}

/* Headers */
h1,
h2,
h3,
.sidebar h3 {
	color: #ffffff;
	font-family: 'Tillana', 'Times New Roman', Times, serif;
}

/* Other Text */
p,
b,
#fraProfileContent {
	color: #ffffff;
}

small {
	color: #ffffff !important;
}

/* Links */
a:link,
a:visited,
a:active {
	color: #faf2d1;
}

a:hover,
a:focus {
	color: #ffffff;
}

/* Topbar */
.topbar a:link,
.topbar a:visited,
.topbar a:active {
	color: #faf2d1;
}

.topbar a:hover,
.topbar a:focus {
	color: #ffffff;
}

.topbar {
	background: #171303;
	border: 1px solid #fff;
	border-top: none;
	/* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
	color: #ffffff;
}

/* Navbar */
.navbar {
	background: #2e2605;
	/* border-bottom: 1px solid #fff; */
	/* border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
	font-family: 'Tillana', 'Times New Roman', Times, serif;
}

/* logo */
.navbar-brand img {
	/* content: url('LINK'); */
	filter: hue-rotate(35deg) contrast(130%) brightness(110%) saturate(80%);
}

/* navbar defaults */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	color: #faf2d1;
}

.navbar-default .navbar-nav>li>a {
	color: #faf2d1;
	font-weight: bold;
}

/* mobile toggle box */
.navbar-default .navbar-toggle {
	border-color: transparent;
}

/* make different from navbar */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: #453908;
}

/* bars in navbar icon */
.navbar-default .navbar-toggle .icon-bar {
	background: #ffffff;
}

/* collapsed navbar */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #171303;
	box-shadow: none;
}

/* active and hovered links in navbar */
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar .active a:link,
.navbar .active a:visited,
.navbar .active a:active,
.navbar .active a:focus {
	background: #453908;
	color: #ffffff;
	/* border-radius: 10px; */
}

/* main */
.main {
	background: #17130380;
	border-radius: none;
	border: 1px solid #fff;
	box-shadow: none;
}

/* territory box */
.col-md-9 {
	background: none;
}

/* Breadcrumb */
.breadcrumb {
	background: #453908;
	border: none;
	/* border-radius: 10px; */
	box-shadow: 1px 1px 3px #000;
}

.breadcrumb::after {
	content: "CSS by Chris (#105465)";
	position: absolute;
	right: 20%;
	z-index: 100;
	color: #ffffff;
}

.breadcrumb-item.active,
.breadcrumb-item::before {
	color: #f5e4a3 !important;
}

/* Side Bar */
/* side panel bg */
.sidebar.col-md-3 {
	background: none;
}

/* sidebar inner boxes */
.col-md-3 .panel {
	border: none;
	/* border-radius: 10px; */
	background: #453908;
	box-shadow: 1px 1px 3px #000;
	color: #ffffff;
}

/* dotted line above chat on smaller screen sizes */
.clear {
	border-color: #ffffff !important;
}

/* Progress Bars */
/* background container */
.progress {
	background: #2e2605;
	/* border-radius: 20px; */
	border: 1px solid #171303;
}

/* default and impression */
.progress-bar {
	background: #b18202;
}

/* if you want all to match comment out the next three classes */
/* exp, hunger, and energy */
/* .progress-bar-success {
	background: #ffc680;
}
.progress-bar-danger {
	background: #ffba66;
}
.progress-bar-warning {
	background: #ffaf4d;
} */
/* text inside the progress bars */
.progress div {
	color: #fff;
	font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}

/* alerts */
/* all */
.alert-danger,
.alert-success,
.alert-warning {
	border: none;
	/* border-radius: 10px; */
	box-shadow: 1px 1px 3px #000;
}

/* red notifications */
.alert-danger {
	color: #ffffff;
	background: #41160b;
}

.alert-danger>a,
.alert-danger>a:link,
.alert-danger>a:active,
.alert-danger>a:visited {
	color: #f0b7a8;
}

.alert-danger>a:hover,
.alert-danger>a:focus,
.alert-danger b {
	color: #ffffff;
}

/* green notifications */
.alert-success {
	color: #ffffff;
	background: #33570f;
}

.alert-success>a,
.alert-success>a:link,
.alert-success>a:active,
.alert-success>a:visited {
	color: #ccf0a8;
}

.alert-success>a:hover,
.alert-success>a:focus,
.alert-success b {
	color: #ffffff;
}

/* yellow notifications */
.alert-warning {
	color: #ffffff;
	background: #573a0f;
}

.alert-warning>a,
.alert-warning>a:link,
.alert-warning>a:active,
.alert-warning>a:visited {
	color: #f0d3a8;
}

.alert-warning>a:hover,
.alert-warning>a:focus,
.alert-warning b {
	color: #ffffff;
}

/* HTML boxes if applicable */


/* comment box */
#commentBox {
	border: none !important;
	border-radius: 5px !important;
	height: 200px !important;
	background: #5c4b0a;
	box-shadow: 1px 1px 3px #000;
}

.comment:nth-child(even) {
	background: #453908 !important;
}

/* scrollbar */
#commentBox::-webkit-scrollbar {
	height: 0;
	width: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #fff;
}

/* scrollbar button */
#commentBox::-webkit-scrollbar-thumb {
	background: #2e2605;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#commentBox::-webkit-scrollbar-thumb:hover {
	background: #171303;
}

/* tables */
/* table headers */
.table .top,
.table th {
	background: #171303;
	color: #ffffff;
	font-family: 'Tillana', 'Times New Roman', Times, serif;
	font-weight: bold;
	/* border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
}

/* lion title and name */
.xlarge.b {
	font-weight: bold;
}

/* lion image */
#lion_image>div {
	transition: 1s;
	border-radius: 10px;
	border: none;
}

/* a:hover > #lion_image > div, a:focus > #lion_image > div {
	border-radius: 10px;
} */
/* table body */
.table {
	background: #5c4b0a;
	border: none;
	color: #ffffff;
	/* border-collapse: separate; */
	/* border-radius: 10px; */
	box-shadow: 1px 1px 3px #000;
}

/* table links */
.table .top a:link,
.table .top a:active,
.table .top a:visited,
.table th a:link,
.table th a:active,
.table th a:visited {
	color: #faf2d1;
	font-weight: bold;
	border-bottom: none;
}

.table .top a:hover,
.table th a:hover,
.table .top a:focus,
.table th a:focus {
	color: #ffffff;
	font-weight: bold;
}

/* left side of stats on king and status bars in caves */
.table .left {
	background: #2e2605;
}

/* left side of stats on king */
.inner-table .left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* right side of king stats */
.inner-table .right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #453908;
}

/* every other lion in caves */
.table .right_odd {
	background: #453908;
}

/* table footers */
.table .innerHeader,
.table .bottom,
#player>tbody>tr {
	background: #171303;
	color: #ffffff;
	/* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

/* player table footer adjustments for rounded corners */
#player .right_odd {
	background: none;
	/* border-bottom-right-radius: 10px; */
}

/* #player .right_odd:first-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0;
} */
#player tr.right {
	background: none;
}

/* quick link to mutated lions under king panel */
.table .bottom a:link,
.table .bottom a:visited,
.table .bottom a:active {
	color: #faf2d1;
	text-decoration: none;
}

.table .bottom a:hover,
.table .bottom a:focus {
	color: #ffffff;
	text-decoration: underline;
}

/* hr in player table */
#player hr {
	border-color: transparent;
	margin: 0;
	margin-top: 1em;
}

/* little :|: spans in player table */
#player .text-muted {
	color: #ffffff80;
}

/* days left until heat badge */
.badge {
	background: #795A03;
	color: #ffffff;
}

/* inputs for typing in text in territory description etc. */
textarea,
input,
select,
#fra_chatContainer #txtChatInput {
	color: #000000;
	background: #ffffff;
	border: 1px solid #171303;
}

input::placeholder {
	color: #00000080;
}

/* Caves and Mounds Main */
/* main overrides */
.mound-grid,
.cave-grid {
	background: #795A03;
	border: none;
	/* border-radius: 10px; */
	color: #faf2d1;
	box-shadow: 1px 1px 3px #000;
}

/* cave and mound link hover */
.center>a:hover>.cave-grid,
.center>a:focus>.cave-grid,
.center>a:hover>.mound-grid,
.center>a:focus>.mound-grid {
	color: #ffffff;
}

/* cave and mound customization */
/* all caves */
.cave-grid>img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/ForestThicket_Day.png');
	height: 150px;
	object-fit: cover;
	object-position: top;
}

/* pride tabs */
img[src$='//static.lioden.com/images/layout/unsortedlionsbanner.png'],
img[src$='//static.lioden.com/images/layout/nestingbanner.png'],
img[src$='//static.lioden.com/images/layout/prideoverviewbanner.png'] {
	content: url('//static.lioden.com/images/dynamic/backgrounds/zanzibarwoodlands.png');
	height: 80px;
	object-fit: cover;
	object-position: top;
}

/* unsorted lions */
/* img[src$='//static.lioden.com/images/layout/unsortedlionsbanner.png'] {
	content: url('LINK');
	object-position: top;
} */
/* pregnant lionesses */
/* img[src$='//static.lioden.com/images/layout/nestingbanner.png'] {
	content: url('LINK');
	object-position: top;
} */
/* pride overview */
/* img[src$='//static.lioden.com/images/layout/prideoverviewbanner.png'] {
	content: url('LINK');
	object-position: top;
} */
/* all mounds */
/* .mound-grid img {
	content: url('LINK');
	padding: 5px;
} */
/* all mounds but like a cave */
.mound-grid {
	padding: 0 0 5px 0;
}

.mound-grid img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/herbgrove.png');
	height: 100px;
	width: 100%;
	object-fit: cover;
	object-position: top;
}

/* create mound image and empty cave slots */
img[src$='//static.lioden.com/images/layout/addbeetlemound.png'],
img[src$='//static.lioden.com/images/layout/caveunused.jpg'] {
	filter: saturate(50%);
}

/* featured lion section */
.featured-lion {
	background: #171303;
	color: #ffffff;
	margin-bottom: 20px;
	/* border-radius: 10px; */
	box-shadow: 1px 1px 3px #000;
}

/* .featured-lion img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
} */
/* featured lion background image */
.featured-lion img[src$='//static.lioden.com/images/cave/default.png'] {
	content: url('//static.lioden.com/images/dynamic/backgrounds/papyrusBG.png') !important;
	/* filter: none; */
}

/* very important if you want it to not look ugly anymore lol don't change the padding here or the media queries at the bottom */
.featured-lion .b {
	padding-top: 8px;
}

.featured-lion a:hover,
.featured-lion a:focus {
	color: #ffffff;
}

.featured-lion a:link,
.featured-lion a:active,
.featured-lion a:visited {
	color: #faf2d1;
}

/* owned by text */
h1.center>small,
h1.center>small a:hover,
h1.center>small a:focus {
	color: #ffffff !important;
}

h1.center>small a,
h1.center>small a:link,
h1.center>small a:visited,
h1.center>small a:active {
	color: #faf2d1 !important;
}

/* dropdown text */
.table .bottom select {
	color: #000;
}

/* Inner Mounds */
/* menu bg */
.sub_menu {
	background: #171303;
	border: none;
	/* border-radius: 10px; */
	box-shadow: 1px 1px 3px #000;
}

.sub_sub_menu {
	display: none;
}

/* Feature Styling (like feed all play all etc.) */
div.feature {
	/* border-radius: 10px; */
	border: none;
	background: #5c4b0a;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 1px 1px 3px #000;
}

/* dropdown width (acts funny on smaller screens at the default 200px sometimes) */
div.feature select {
	width: 180px !important;
}

/* header */
div.feature h3 {
	color: #ffffff;
}

.feature-footer {
	background: #5c4b0a;
}

/* inner text */
.feature .xsmall {
	color: #ffffff;
}

/* Dynasty Pills */
/* dynasty main */
div.left {
	background: #795A03;
	/* border-radius: 10px; */
	border: none;
	color: #ffffff;
	box-shadow: 1px 1px 3px #000;
}

/* custom dynasty images */
div.left img {
	content: url('https://static.lioden.com/images/dynamic/backgrounds/pathofsalvation.png');
	object-fit: cover;
	object-position: top;
	padding: 0;
	height: 60px;
	max-width: 500px !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.dynastylist .left {
	padding: 5px 0 0 0;
}

/* dynasty headers */
.dynastylist h3 {
	color: #faf2d1;
	padding-top: 5px;
}

.dynastylist h3:hover,
.dynastylist h3:focus {
	color: #ffffff;
}

/* links in the pills beneath dynasty stuff */
a div.left {
	color: #faf2d1;
}

a div.left:hover,
a div.left:focus {
	color: #ffffff;
}

/* Branch */
.item {
	background: #453908;
	border: none;
	border-radius: 5px;
}

.item-header {
	background: #2e2605;
	color: #ffffff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.item-footer {
	background: #2e2605;
	color: #ffffff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Buttons */
/* all */
.select-control,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.select-control:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.select-control.bad,
button.button.bad,
input[type="button"].bad,
input[type="submit"].bad,
input[type="reset"].bad,
.select-control.bad:hover,
button.button.bad:hover,
input[type="button"].bad:hover,
input[type="submit"].bad:hover,
input[type="reset"].bad:hover {
	border-radius: 3px;
}

/* regular button */
.select-control,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	background: #ae8104;
	background: linear-gradient(to bottom, #ae8104 5%, #7c5c03 5%, #7c5c03 95%, #4b3702 95%);
	color: #ffffff;
	border: 1px solid #322501;
	text-shadow: 1px 1px 0px #4b3702;
	font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}

/* regular button hover */
.select-control:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background: #956e04;
	background: linear-gradient(to bottom, #956e04 5%, #634a03 5%, #634a03 95%, #322501 95%);
	color: #ffffff;
	border: 1px solid #322501;
	text-shadow: 1px 1px 0px #322501;
}

/* red button */
.select-control.bad,
button.button.bad,
input[type="button"].bad,
input[type="submit"].bad,
input[type="reset"].bad {
	background: #1717b5;
	background: linear-gradient(to bottom, #1717b5 5%, #121287 5%, #121287 49%, #121287 95%, #0c0c5a 95%);
	color: #ffffff;
	border: 1px solid #06062d;
	text-shadow: 1px 1px 0px #0c0c5a;
}

/* red button hover */
.select-control.bad:hover,
button.button.bad:hover,
input[type="button"].bad:hover,
input[type="submit"].bad:hover,
input[type="reset"].bad:hover {
	background: #15159e;
	background: linear-gradient(to bottom, #15159e 5%, #0f0f71 5%, #0f0f71 49%, #0f0f71 95%, #090944 95%);
	color: #ffffff;
	border: 1px solid #030317;
	text-shadow: 1px 1px 0px #090944;
}

/* Event Flavor Text */
/* has to go at the bottom since it likes to be mean to me otherwise trust me best left here lol */
center>div.center.b,
center>b>span {
	color: #ffff00 !important;
}

/* Footer */
/* technically applies to all "white" text on the site but mainly applies to the footer text */
.white {
	color: #ffffff;
	text-shadow: 0 0 5px #000;
}

/* bottom links container size to prevent weird stacking issues */
ul.bottomlinks {
	width: max-content !important;
}

/* bottoms links */
.bottomlinks li a,
.bottomlinks li a:link,
.bottomlinks li a:active,
.bottomlinks li a:visited,
.footer a,
.footer a:link,
.footer a:active,
.footer a:visited {
	color: #faf2d1;
	border-bottom: none;
}

.bottomlinks li a:hover,
.bottomlinks li a:focus,
.footer a:hover,
footer a:focus {
	color: #ffffff;
}

/* CLAN STUFF */
.page-description {
	border: none;
	background: #5c4b0a;
	padding: 20px;
	box-shadow: 1px 1px 3px #000;
}

.page-description>div {
	padding: 0;
	margin: 0;
}

/*#region Chat */
/* main container */
#chatMessageContainer {
	border: none;
}

/* chat buttons */
#btnChatSettings,
#btnLoadNewMessages,
.s-chat-message_menu {
	filter: grayscale() brightness(500%);
}

/* menu dropbox */
.channelMenu>button,
.channelMenu>div {
	background: #171303 !important;
	border-color: transparent !important;
	box-shadow: none !important;
	color: #faf2d1 !important;
	box-shadow: none !important;
}

/* message text */
.s-chat-message {
	color: #ffffff;
}

/* even messages */
.s-chat-message:nth-child(even) {
	background: #5c4b0a;
}

/* odd messages */
.s-chat-message:nth-child(odd) {
	background: #453908;
}

/* mention */
#chatMessageList[data-pings="enabled"] .s-chat-message_mention,
.s-chat-message.hasContext {
	background: #171303 !important;
	border-color: #faf2d1 !important;
	color: #ffffff !important;
	padding-left: 10px;
}

.s-chat-message.hasContext .s-chat-message_timestamp,
.s-chat-message_mention.s-chat-message_timestamp {
	padding-left: 10px;
}

#chatMessageList[data-pings="enabled"] .s-chat-message_mention a {
	color: #faf2d1 !important;
}

#chatMessageList[data-pings="enabled"] .s-chat-message_mention a:hover,
#chatMessageList[data-pings="enabled"] .s-chat-message_mention a:focus {
	color: #ffffff !important;
}

/* scrollbar */
#chatMessageList::-webkit-scrollbar {
	width: 8px;
	background: #fff;
}

/* scrollbar button */
#chatMessageList::-webkit-scrollbar-thumb {
	background: #2e2605;
	border-radius: 0;
}

#chatMessageList::-webkit-scrollbar-thumb:hover {
	background: #171303;
}

/* claim badge */
.s-chat-message_claim {
	background: #2e2605;
	border-bottom: none;
	color: #ffffff;
}

/* claim popout box stuff */
#modalClaimBG {
	background: rgba(0, 0, 0, 0.5);
}

/* main inner bit */
#modalClaimList {
	background: #5c4b0a;
	color: #ffffff;
	border: none;
}

#modalClaimList a,
#modalClaimList a:active,
#modalClaimList a:visited,
#modalClaimList a:link {
	color: #faf2d1;
}

#modalClaimList a:hover,
#modalClaimList a:focus {
	color: #ffffff;
}

/* header */
#modalClaimList h3 {
	background: #2e2605;
	color: #ffffff;
}

/* close button */
#modalClaimList button.close {
	color: #ffffff;
}

/* pinned message */
#chatMessagePinned,
#chatMessagePinned.s-chat-message__pinned {
	background: #171303;
	color: #ffffff !important;
	border: none !important;
}

.s-chat-sidebar #chatMessagePinned.s-chat-message__pinned {
	text-indent: 4px;
}

/* timestamp */
.s-chat-message_timestamp {
	color: #ffffff;
}

/* mod message text (best left at #000) */
.s-chat-message__mod,
.s-chat-message__mod .s-chat-message_content,
.s-chat-message__mod .s-chat-message_timestamp {
	color: #000;
}

#fra_chatContainer .channelMenu .channelSwitcher {
	color: #ffffff;
}

#fra_chatContainer .channelMenu .channelSwitcher:hover,
#fra_chatContainer .channelMenu .channelSwitcher:focus {
	background: #2e2605;
	color: #ffffff;
}

#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: #453908;
	color: #ffffff;
}

/* settings text (DO NOT CHANGE OR IT WILL BREAK) */
#fra_chatContainer label {
	color: #000;
}

/* char count */
#lblCharacterCounter {
	color: #ffffff !important;
}

/* code of conduct & chat room link */
a[href$='./code.php'],
a[href$='./chat.php'] {
	color: #ffffff;
}

/*#endregion */

/* Media Query Adjustments */
@media (max-width: 993px) {
	.dynastylist {
		margin-bottom: 15px;
	}
}

@media (max-width: 768px) {
	body {
		background-position-y: top;
		background-position-x: right;
		/* DON'T CHANGE BELOW */
		background-repeat: no-repeat;
		background-size: cover;
		width: auto !important;
		min-width: 600px;
	}

	.main,
	.topbar {
		box-shadow: none !important;
	}

	#fraProfileContent.hidden-xs {
		display: block !important;
	}

	.breadcrumb::after {
		right: 22% !important;
	}
}

@media (max-width: 684px) {
	div.lionImage.featured-lion>div {
		height: 475px !important;
	}
}

@media (max-width: 620px) {
	div.lionImage.featured-lion>div {
		height: 450px !important;
	}
}