/* 
	Layout Made by Chris (#105465) for free use
        All of my free use layouts are subject to the rules detailed on my free CSS and HTML thread, so please keep that in mind and abide by my rules. I have chosen to make this work freely available and I can change that at any time.
        https://www.lioden.com/topic.php?id=304429491963
*/

/* Background Image and Font Family */
/* import link for font below */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&family=Lato:wght@400;700&display=swap');

:root {
	--fc1: #17171c;
	--pc4: #fff;
	--borderColor: #eee;
}

@media (min-width: 768px) {
	body {
		font-family: 'Lato', Arial, Helvetica, sans-serif;
		background: #FAECDA url('../../img/aesthetic/assignment-wood.png') fixed;
		background-position-y: center;
		background-position-x: center;
		/* DON'T CHANGE BELOW */
		background-repeat: repeat;
		color: #17171c;
	}
}

@media (max-width: 768px) {
	body {
		font-family: 'Lato', Arial, Helvetica, sans-serif;
		background: #FAECDA url('../../img/aesthetic/assignment-wood.png') fixed;
		background-position-y: center;
		background-position-x: center;
		/* DON'T CHANGE BELOW */
		background-repeat: repeat;
		width: auto !important;
		min-width: 600px;
		color: #17171c;
	}

	.main,
	.topbar {
		box-shadow: none !important;
	}
}

/* Headers */
h1,
h2,
h3,
.sidebar h3 {
	color: #17171c;
	font-family: 'Edu NSW ACT Foundation', Arial, Helvetica, sans-serif;
}

/* Other Text */
p,
b,
#fraProfileContent {
	color: #17171c;
}

small {
	color: #17171c !important;
}

/* Links */
a:link,
a:visited,
a:active {
	color: #22222a;
}

a:hover,
a:focus {
	color: #17171c;
}

/* Topbar */
.topbar a:link,
.topbar a:visited,
.topbar a:active {
	color: #22222a;
}

.topbar a:hover,
.topbar a:focus {
	color: #17171c;
}

.topbar {
	background-color: #fff;
	background-image: linear-gradient(#ddd 2px, transparent 2px),
		linear-gradient(90deg, #ddd 2px, transparent 2px),
		linear-gradient(#eee 1px, transparent 1px),
		linear-gradient(90deg, #eee 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	border: none;
	/* border-top: none; */
	/* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
	color: #17171c;
}

/* Navbar */
.navbar {
	background-color: #fff;
	background-image:
		linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px);
	background-size: 100% 1.2em;
	/* border-bottom: 1px solid #ebebeb; */
	/* border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
	font-family: 'Edu NSW ACT Foundation', Arial, Helvetica, sans-serif;
}

/* logo if applicable */
.navbar-brand img {
	/* content: url('LINK'); */
	filter: hue-rotate(30deg) brightness(150%);
}

/* navbar defaults */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	color: #22222a;
}

.navbar-default .navbar-nav>li>a {
	color: #22222a;
	font-weight: bold;
}

/* mobile toggle box */
.navbar-default .navbar-toggle {
	border-color: transparent;
}

/* make different from navbar */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: #eee;
}

/* bars in navbar icon */
.navbar-default .navbar-toggle .icon-bar {
	background: #17171c;
}

/* collapsed navbar */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: transparent;
	box-shadow: none;
}

/* active and hovered links in navbar */
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar .active a:link,
.navbar .active a:visited,
.navbar .active a:active,
.navbar .active a:focus {
	background: #eee;
	color: #17171c;
	/* border-radius: 10px; */
}

/* Main and Divs */
.main {
	background-color: #fff;
	background-image:
		linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
		linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	border-radius: none;
	border: none;
	box-shadow: none;
}

@media (max-width: 768px) {
	.breadcrumb::after {
		right: 22% !important;
	}
}

@media (max-width: 993px) {
	.dynastylist {
		margin-bottom: 15px;
	}
}

/* territory box */
.col-md-9 {
	background: none;
}

/* Breadcrumb */
.breadcrumb {
	background: #fff;
	border: 1px solid #eee;
	/* border-radius: 10px; */
}

.breadcrumb::after {
	content: "CSS by Chris (#105465)";
	position: absolute;
	right: 20%;
	z-index: 100;
	color: #17171c;
}

.breadcrumb-item.active,
.breadcrumb-item::before {
	color: #2e2e38 !important;
}

/* Side Bar */
/* side panel bg */
.sidebar.col-md-3 {
	background: none;
}

/* sidebar inner boxes */
.col-md-3 .panel {
	border: none;
	border-radius: 0 0 10px 0;
	background: #f8d3e7;
	box-shadow: 2px 2px 0 #ccc;
	color: #17171c;
}

/* dotted line above chat on smaller screen sizes */
.clear {
	border-color: #17171c !important;
}

/* Progress Bars */
/* background container */
.progress {
	background: #fff;
	border-radius: 20px;
	border: 1px solid #f5bddb;
}

/* default and impression */
.progress-bar {
	background: #ffff0080;
}

/* text inside the progress bars */
.progress div {
	color: #000;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/*#region Chat */
/* main container */
#chatMessageContainer {
	border: 1px solid #eee;
}

/* message text */
.s-chat-message {
	color: #17171c;
}

/* even messages */
.s-chat-message:nth-child(even) {
	background: #fff;
}

/* odd messages */
.s-chat-message:nth-child(odd) {
	background: #eee;
}

/* mention */
#chatMessageList[data-pings="enabled"] .s-chat-message_mention,
.s-chat-message.hasContext {
	background: #fff !important;
	border-color: #f08fc280 !important;
	color: #17171c !important;
	padding-left: 10px;
}

.s-chat-message.hasContext .s-chat-message_timestamp,
.s-chat-message_mention.s-chat-message_timestamp {
	padding-left: 10px;
}

#chatMessageList[data-pings="enabled"] .s-chat-message_mention a {
	color: #22222a !important;
}

#chatMessageList[data-pings="enabled"] .s-chat-message_mention a:hover,
#chatMessageList[data-pings="enabled"] .s-chat-message_mention a:focus {
	color: #17171c !important;
}

/* chat buttons */
#btnChatSettings,
#btnLoadNewMessages,
.s-chat-message_menu {
	filter: grayscale() brightness(0%);
}

/* scrollbar */
#chatMessageList::-webkit-scrollbar {
	width: 8px;
	background: #fff;
}

/* scrollbar button */
#chatMessageList::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 0;
}

#chatMessageList::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

/* claim badge */
.s-chat-message_claim {
	background: #ddd;
	border-bottom: none;
	color: #17171c;
}

/* claim popout box stuff */
#modalClaimBG {
	background: rgba(0, 0, 0, 0.5);
}

/* main inner bit */
#modalClaimList {
	background: #fff;
	color: #17171c;
	border: none;
}

#modalClaimList a,
#modalClaimList a:active,
#modalClaimList a:visited,
#modalClaimList a:link {
	color: #22222a;
}

#modalClaimList a:hover,
#modalClaimList a:focus {
	color: #17171c;
}

/* header */
#modalClaimList h3 {
	background: #ddd;
	color: #17171c;
}

/* close button */
#modalClaimList button.close {
	color: #17171c;
}

/* pinned message */
#chatMessagePinned,
#chatMessagePinned.s-chat-message__pinned {
	background: #ccc;
	color: #17171c !important;
	border: none !important;
}

.s-chat-sidebar #chatMessagePinned.s-chat-message__pinned {
	text-indent: 4px;
}

/* timestamp */
.s-chat-message_timestamp {
	color: #17171c;
}

/* mod message text (best left at #000) */
.s-chat-message__mod,
.s-chat-message__mod .s-chat-message_content,
.s-chat-message__mod .s-chat-message_timestamp {
	color: #000;
}

/* menu dropbox */
.channelMenu>button,
.channelMenu>div {
	background: #fff !important;
	border-color: #eee !important;
	box-shadow: none !important;
	color: #22222a !important;
}

#fra_chatContainer .channelMenu .channelSwitcher {
	color: #17171c;
}

#fra_chatContainer .channelMenu .channelSwitcher:hover,
#fra_chatContainer .channelMenu .channelSwitcher:focus {
	background: #ddd;
	color: #17171c;
}

#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: #eee;
	color: #17171c;
}

/* settings text (DO NOT CHANGE OR IT WILL BREAK) */
#fra_chatContainer label {
	color: #000;
}

/* char count */
#lblCharacterCounter {
	color: #17171c !important;
}

/* code of conduct */
a[href$='./code.php'] {
	color: #17171c;
}

/* chat room link */
a[href$='./chat.php'] {
	color: #17171c;
}

/*#endregion */

/*#region Alerts */
/* all */
.alert-danger,
.alert-success,
.alert-warning {
	border: 1px solid #eee;
	/* border-radius: 10px; */
}

/* red notifications */
.alert-danger {
	color: #17171c;
	background: #ffe5e5;
}

.alert-danger>a,
.alert-danger>a:link,
.alert-danger>a:active,
.alert-danger>a:visited {
	color: #2e2e38;
}

.alert-danger>a:hover,
.alert-danger>a:focus,
.alert-danger b {
	color: #22222a;
}

/* green notifications */
.alert-success {
	color: #17171c;
	background: #e5ffe5;
}

.alert-success>a,
.alert-success>a:link,
.alert-success>a:active,
.alert-success>a:visited {
	color: #2e2e38;
}

.alert-success>a:hover,
.alert-success>a:focus,
.alert-success b {
	color: #22222a;
}

/* yellow notifications */
.alert-warning {
	color: #17171c;
	background: #fff9e5;
}

.alert-warning>a,
.alert-warning>a:link,
.alert-warning>a:active,
.alert-warning>a:visited {
	color: #2e2e38;
}

.alert-warning>a:hover,
.alert-warning>a:focus,
.alert-warning b {
	color: #22222a;
}

/*#endregion */

/* HTML Boxes if applicable */



/* comment box */
#commentBox {
	border: 1px solid #eee !important;
	border-radius: 5px !important;
	height: 200px !important;
	background: #fff;
}

.comment:nth-child(even) {
	background: #f7f7f7 !important;
}

/* scrollbar */
#commentBox::-webkit-scrollbar {
	height: 0;
	width: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #fff;
}

/* scrollbar button */
#commentBox::-webkit-scrollbar-thumb {
	background: #aaa;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#commentBox::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

/*#region Tables */
/* table headers */
.table .top,
.table th {
	background: #f5bddb;
	color: #17171c;
	font-family: 'Edu NSW ACT Foundation', Arial, Helvetica, sans-serif;
	font-weight: bold;
	/* border-top-right-radius: 10px; */
	/* border-top-left-radius: 10px; */
}

/* lion title and name */
.xlarge.b {
	font-weight: bold;
}

/* lion image if applicable */

/* table body */
.table {
	background: #fff;
	border: 1px solid #eee;
	color: #17171c;
	/* border-collapse: separate; */
	/* border-radius: 10px; */
}

/* table links */
.table .top a:link,
.table .top a:active,
.table .top a:visited,
.table th a:link,
.table th a:active,
.table th a:visited {
	color: #22222a;
	font-weight: bold;
}

.table .top a:hover,
.table th a:hover,
.table .top a:focus,
.table th a:focus {
	color: #17171c;
	font-weight: bold;
}

/* left side of stats on king and status bars in caves */
.table .left {
	background: #ffff0080;
}

/* left side of stats on king */
.inner-table .left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #eee;
	border-right: none;
}

/* right side of king stats */
.inner-table .right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #fff;
	border: 1px solid #eee;
	border-left: none;
}

/* every other lion in caves */
.table .right_odd {
	background: #fff;
}

/* table footers */
.table .innerHeader,
.table .bottom,
#player>tbody>tr {
	background: #f5bddb;
	color: #17171c;
	/* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

/* player table footer adjustments for rounded corners */
#player .right_odd {
	background: none;
	/* border-bottom-right-radius: 10px; */
}

/* #player .right_odd:first-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0;
} */
#player tr.right {
	background: none;
}

/* quick link to mutated lions under king panel */
.table .bottom a:link,
.table .bottom a:visited,
.table .bottom a:active {
	color: #22222a;
	text-decoration: none;
}

.table .bottom a:hover,
.table .bottom a:focus {
	color: #17171c;
	text-decoration: underline;
}

/* hr in player table */
#player hr {
	border-color: transparent;
	margin: 0;
	margin-top: 1em;
}

/* little :|: spans in player table */
#player .text-muted {
	color: #17171c80;
}

/* days left until heat badge */
.badge {
	background: #fce9f3;
	color: #17171c;
}

/* inputs for typing in text in territory description etc. */
textarea,
input,
select,
#fra_chatContainer #txtChatInput {
	color: #17171c;
	background: #fff;
	border: 1px solid #ccc;
}

input::placeholder {
	color: #17171c80;
}

#player .center.auto {
	max-width: max-content !important;
}

/*#endregion */

/* Caves and Mounds Main */
/* main overrides */
.mound-grid,
.cave-grid {
	background-color: #fff;
	background-image: linear-gradient(#ddd 2px, transparent 2px),
		linear-gradient(90deg, #ddd 2px, transparent 2px),
		linear-gradient(#eee 1px, transparent 1px),
		linear-gradient(90deg, #eee 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	border: 1px solid #eee;
	/* border-radius: 10px; */
	color: #22222a;
	box-shadow: 2px 2px 0 #ccc;
}

/* cave and mound link hover */
.center>a:hover>.cave-grid,
.center>a:focus>.cave-grid,
.center>a:hover>.mound-grid,
.center>a:focus>.mound-grid {
	color: #17171c;
}

/* cave and mound customization if applicable */


/*#region Inner Caves */
/* featured lion section */
.featured-lion {
	background: #f5bddb;
	color: #17171c;
	margin-bottom: 20px;
	/* border-radius: 10px; */
}

/* .featured-lion img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
} */
/* very important if you want it to not look ugly anymore lol don't change the padding here or the media queries */
.featured-lion .b {
	padding-top: 8px;
}

@media (max-width: 684px) {
	div.lionImage.featured-lion>div {
		height: 475px !important;
	}
}

@media (max-width: 620px) {
	div.lionImage.featured-lion>div {
		height: 450px !important;
	}
}

.featured-lion a:link,
.featured-lion a:active,
.featured-lion a:visited {
	color: #22222a;
}

.featured-lion a:hover,
.featured-lion a:focus {
	color: #17171c;
}

/* owned by text */
h1.center>small {
	color: #17171c !important;
}

h1.center>small a,
h1.center>small a:link,
h1.center>small a:visited,
h1.center>small a:active {
	color: #22222a !important;
}

h1.center>small a:hover,
h1.center>small a:focus {
	color: #17171c !important;
}

/* dropdown */
.table .bottom select {
	color: #17171c;
}

/* Inner Mounds */
/* menu bg */
.sub_menu {
	background: #f5bddb;
	border: none;
	/* border-radius: 10px; */
}

.sub_sub_menu {
	display: none;
}

/*#endregion */

/* Feature Styling (like feed all play all etc.) */
div.feature {
	/* border-radius: 10px; */
	border: 1px solid #eee;
	background: #fff;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* dropdown width (acts funny on smaller screens at the default 200px sometimes) */
div.feature select {
	width: 180px !important;
}

/* header */
div.feature h3 {
	color: #17171c;
}

.feature-footer {
	background: #fff;
}

/* inner text */
.feature .xsmall {
	color: #17171c;
}

/* Dynasty Pills */
/* dynasty main */
div.left {
	background-color: #fff;
	background-image: linear-gradient(#ddd 2px, transparent 2px),
		linear-gradient(90deg, #ddd 2px, transparent 2px),
		linear-gradient(#eee 1px, transparent 1px),
		linear-gradient(90deg, #eee 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	border: 1px solid #eee;
	color: #17171c;
	box-shadow: 2px 2px 0 #ccc;
}

/* dynasty images */
div.left img {
	padding: 5px;
	padding-top: 0;
}

/* dynasty headers */
.dynastylist h3 {
	color: #22222a;
	padding-top: 5px;
}

.dynastylist h3:hover,
.dynastylist h3:focus {
	color: #17171c;
}

/* links in the pills beneath dynasty stuff */
a div.left {
	color: #22222a;
}

a div.left:hover,
a div.left:focus {
	color: #17171c;
}

/* Branch */
.item {
	background: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
}

.item-header {
	background: #ffff0080;
	color: #17171c;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.item-footer {
	background: #ffff0080;
	color: #17171c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Buttons */
/* regular button */
.select-control,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	background: #eee;
	color: #010101;
	border: 1px solid #ddd;
	text-shadow: 1px 1px 0px #fff;
	border-radius: 3px;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* regular button hover */
.select-control:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background: #ddd;
	color: #010101;
	border: 1px solid #ccc;
	text-shadow: 1px 1px 0px #eee;
	border-radius: 3px;
}

/* Event Flavor Text */
/* has to go at the bottom since it likes to be mean to me otherwise trust me best left here lol */

center>div.center.b {
	color: #ff0000 !important;
}

/* Footer */
/* technically applies to all "white" text on the site but mainly applies to the footer text */
.white {
	color: #17171c;
}

/* bottom links container size to prevent weird stacking issues */
ul.bottomlinks {
	width: max-content !important;
}

/* bottoms links */
.bottomlinks li a,
.bottomlinks li a:link,
.bottomlinks li a:active,
.bottomlinks li a:visited,
.footer a,
.footer a:link,
.footer a:active,
.footer a:visited {
	color: #22222a;
}

.bottomlinks li a:hover,
.bottomlinks li a:focus,
.footer a:hover,
footer a:focus {
	color: #17171c;
}

.page-description {
	background-color: #fff;
	background-image: linear-gradient(#ddd 2px, transparent 2px),
		linear-gradient(90deg, #ddd 2px, transparent 2px),
		linear-gradient(#eee 1px, transparent 1px),
		linear-gradient(90deg, #eee 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	border: 1px solid #eee;
	color: #17171c;
	box-shadow: 2px 2px 0 #ccc;
	padding: 20px;
}

.page-description>div {
	padding: 0;
	margin: 0;
}