/* 
	Layout Made by Chris (#105465) for free use
All of my free use layouts are subject to the rules detailed on my free CSS and HTML thread, so please keep that in mind and abide by my rules. I have chosen to make this work freely available and I can change that at any time.
https://www.lioden.com/topic.php?id=304429491963
*/

/* Background Image and Font Family */

/* import link for font below */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
	--fc1: #1a1100;
	--pc4: #ffeecc;
	--borderColor: transparent;
}

@media (min-width: 768px) {
	body {
		font-family: 'Roboto', Verdana, 'Geneva', Tahoma, sans-serif;
		background: linear-gradient(#ffd480, #ffe6b3, #ffd480) fixed;
		/* DON'T CHANGE BELOW */
		color: #1a1100;
	}
}

@media (max-width: 768px) {
	body {
		font-family: 'Roboto', Verdana, 'Geneva', Tahoma, sans-serif;
		background: linear-gradient(#ffd480, #ffe6b3, #ffd480) fixed;
		/* DON'T CHANGE BELOW */
		width: auto !important;
		min-width: 600px;
		color: #1a1100;
	}
}

/* Headers */

h1,
h2,
h3 {
	color: #1a1100;
	font-family: 'Lora', 'Times New Roman', Times, serif;
}

.sidebar h3 {
	color: #1a1100;
	font-family: 'Lora', 'Times New Roman', Times, serif;
}

/* Other Text */

p {
	color: #1a1100;
}

b {
	color: #1a1100;
}

small {
	color: #1a1100 !important;
}

#fraProfileContent {
	color: #1a1100;
}

/* Links */

a:link,
a:visited,
a:active {
	color: #332200;
}

a:hover,
a:focus {
	color: #1a1100;
}

/* Topbar */

.topbar a:link,
.topbar a:visited,
.topbar a:active {
	color: #332200;
}

.topbar a:hover,
.topbar a:focus {
	color: #1a1100;
}

.topbar {
	background: #ffbb33;
	border: none;
	/* border-top: none; */
	/* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
	color: #1a1100;
}

/* Navbar */

.navbar {
	background: #ffc34d;
	/* border-bottom: 1px solid #ebebeb; */
	/* border-top-right-radius: 10px;
	border-top-left-radius: 10px; */
	font-family: 'Lora', 'Times New Roman', Times, serif;
}

/* logo if applicable */
.navbar-brand img {
	/* content: url('LINK'); */
	filter: hue-rotate(15deg) brightness(150%);
}

/* navbar defaults */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #332200;
}

.navbar-default .navbar-nav>li>a {
	color: #332200;
	font-weight: bold;
}

/* mobile toggle box */
.navbar-default .navbar-toggle {
	border-color: transparent;
}

/* make different from navbar */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: #ffcc66;
}

/* bars in navbar icon */
.navbar-default .navbar-toggle .icon-bar {
	background: #1a1100;
}

/* collapsed navbar */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #332200;
}

/* active link in navbar */
.navbar .active a:link,
.navbar .active a:visited,
.navbar .active a:active,
.navbar .active a:focus {
	background: #ffcc66;
	color: #1a1100;
	/* border-radius: 10px; */
}

/* hovered link in navbar */
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
	background: #ffcc66;
	color: #1a1100;
	/* border-radius: 10px; */
}

/* active and hovered link in navbar */
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background: #ffcc66;
	color: #1a1100;
	/* border-radius: 10px; */
}

/* Main and Divs */

.main {
	background-color: #ffcf6c;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e4b658' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	border-radius: none;
	border: none;
	box-shadow: none;
}

@media (max-width: 768px) {
	.breadcrumb::after {
		right: 22%;
	}
}

@media (max-width: 993px) {
	.dynastylist {
		margin-bottom: 15px;
	}
}

/* territory box */
.col-md-9 {
	background: none;
}

/* Breadcrumb */

.breadcrumb {
	background: #ffd480;
	border: none;
	/* border-radius: 10px; */
}

.breadcrumb::after {
	content: "CSS by Chris (#105465)";
	position: absolute;
	right: 20%;
	z-index: 100;
	color: #1a1100;
}

.breadcrumb-item.active,
.breadcrumb-item::before {
	color: #4d3300 !important;
}

/* Alerts */

/* red notifications */
.alert-danger {
	color: #330000;
	background: #f2d9d9;
	border: none;
	/* border-radius: 10px; */
}

.alert-danger>a,
.alert-danger>a:link,
.alert-danger>a:active,
.alert-danger>a:visited {
	color: #660000;
}

.alert-danger>a:hover,
.alert-danger>a:focus,
.alert-danger b {
	color: #4d0000;
}

/* green notifications */
.alert-success {
	color: #1a3300;
	background: #d9ecc6;
	border: none;
	/* border-radius: 10px; */
}

.alert-success>a,
.alert-success>a:link,
.alert-success>a:active,
.alert-success>a:visited {
	color: #336600;
}

.alert-success>a:hover,
.alert-success>a:focus,
.alert-success b {
	color: #264d00;
}

/* yellow notifications */
.alert-warning {
	color: #332200;
	background: #ffe6b3;
	border: none;
	/* border-radius: 10px; */
}

.alert-warning>a,
.alert-warning>a:link,
.alert-warning>a:active,
.alert-warning>a:visited {
	color: #664400;
}

.alert-warning>a:hover,
.alert-warning>a:focus,
.alert-warning b {
	color: #4d3300;
}

/* HTML Boxes if applicable */



/* comment box */

#commentBox {
	border: none !important;
	/* border-radius: 10px !important; */
	height: 200px !important;
	background: #ffeecc;
}

.comment:nth-child(even) {
	background: #ffe6b3 !important;
}

/* scrollbar */
#commentBox::-webkit-scrollbar {
	height: 0;
	width: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #fff;
}

/* scrollbar button */
#commentBox::-webkit-scrollbar-thumb {
	background: #ffbb33;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#commentBox::-webkit-scrollbar-thumb:hover {
	background: #ffc34d;
}

/* Tables */

/* table headers */
.table .top,
.table th {
	background: #ffd480;
	color: #1a1100;
	font-family: 'Lora', 'Times New Roman', Times, serif;
	font-weight: bold;
	/* border-top-right-radius: 10px; */
	/* border-top-left-radius: 10px; */
}

/* lion title and name */
.xlarge.b {
	font-weight: bold;
}

/* lion image if applicable */

/* table body */
.table {
	background: #ffeecc;
	border: none;
	color: #1a1100;
	/* border-collapse: separate; */
	/* border-radius: 10px; */
}

/* table links */
.table .top a:link,
.table .top a:active,
.table .top a:visited,
.table th a:link,
.table th a:active,
.table th a:visited {
	color: #332200;
	font-weight: bold;
}

.table .top a:hover,
.table th a:hover,
.table .top a:focus,
.table th a:focus {
	color: #1a1100;
	font-weight: bold;
}

/* left side of stats on king and status bars in caves */
.table .left {
	background: #ffdd99;
}

/* left side of stats on king */
.inner-table .left {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* right side of king stats */
.inner-table .right {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #ffe6b3;
}

/* every other lion in caves */
.table .right_odd {
	background: #ffe6b3;
}

/* table footers */
.table .innerHeader,
.table .bottom,
#player>tbody>tr {
	background: #ffd480;
	color: #1a1100;
	/* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

/* player table footer adjustments for rounded corners */
#player .right_odd {
	background: none;
	/* border-bottom-right-radius: 10px; */
}

/* #player .right_odd:first-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0;
} */
#player tr.right {
	background: none;
}

/* quick link to mutated lions under king panel */
.table .bottom a:link,
.table .bottom a:visited,
.table .bottom a:active {
	color: #332200;
	text-decoration: none;
}

.table .bottom a:hover,
.table .bottom a:focus {
	color: #1a1100;
	text-decoration: underline;
}

/* hr in player table */
#player hr {
	border-color: transparent;
	margin: 0;
	margin-top: 1em;
}

/* little :|: spans in player table */
#player .text-muted {
	color: #1a110080;
}

/* days left until heat badge */
.badge {
	background: #ffc34d;
	border: 1px solid #fff;
	color: #1a1100;
}

/* inputs for typing in text in territory description etc. */
textarea,
input,
select,
#fra_chatContainer #txtChatInput {
	color: #1a1100;
	background: #fff;
	border: 1px solid #ffd480;
}

input::placeholder {
	color: #1a110080;
}

#player .center.auto {
	max-width: max-content !important;
}

/* Caves and Mounds Main */

/* main overrides */
.mound-grid,
.cave-grid {
	background: #ffbb33;
	border: none;
	/* border-radius: 10px; */
	color: #332200;
}

/* cave and mound link hover */
.center>a:hover>.cave-grid,
.center>a:focus>.cave-grid,
.center>a:hover>.mound-grid,
.center>a:focus>.mound-grid {
	color: #1a1100;
}

/* cave and mound customization if applicable */


/* Feature Styling (like feed all play all etc.) */

div.feature {
	/* border-radius: 10px; */
	border: none;
	background: #ffeecc;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* dropdown width (acts funny on smaller screens at the default 200px sometimes) */
div.feature select {
	width: 180px !important;
}

/* header */
div.feature h3 {
	color: #1a1100;
}

.feature-footer {
	background: #ffeecc;
}

/* inner text */
.feature .xsmall {
	color: #1a1100;
}

/* Dynasty Pills */

/* dynasty main */
div.left {
	background: #ffbb33;
	/* border-radius: 10px; */
	border: none;
	color: #1a1100;
}

/* dynasty images */
div.left img {
	padding: 10px;
	padding-top: 0;
}

/* dynasty headers */
.dynastylist h3 {
	color: #332200;
	padding-top: 5px;
}

.dynastylist h3:hover,
.dynastylist h3:focus {
	color: #1a1100;
}

/* links in the pills beneath dynasty stuff */
a div.left {
	color: #332200;
}

a div.left:hover,
a div.left:focus {
	color: #1a1100;
}

/* Side Bar */

/* side panel bg */
.sidebar.col-md-3 {
	background: none;
}

/* sidebar inner boxes */
.col-md-3 .panel {
	border: none;
	/* border-radius: 10px; */
	background: #ffd480;
	box-shadow: none;
	color: #1a1100;
}

/* dotted line above chat on smaller screen sizes */
.clear {
	border-color: #1a1100 !important;
}

/* Progress Bars */

/* background container */
.progress {
	background: #fff;
	/* border-radius: 20px; */
}

/* default and impression */
.progress-bar {
	background: #ffc34d;
}

/* if you want all to match comment out the next three classes */
/* exp, hunger, and energy */
/* .progress-bar-success {
	background: #ffc680;
}
.progress-bar-danger {
	background: #ffba66;
}
.progress-bar-warning {
	background: #ffaf4d;
} */
/* text inside the progress bars */
.progress div {
	color: #000;
	font-family: 'Roboto', Verdana, 'Geneva', Tahoma, sans-serif;
}

/* Chat Overrides */

/* main container */
#chatMessageContainer {
	border: none;
}

/* message text */
.s-chat-message {
	color: #1a1100;
}

/* even messages */
.s-chat-message:nth-child(even) {
	background: #ffeecc;
}

/* odd messages */
.s-chat-message:nth-child(odd) {
	background: #ffe6b3;
}

/* mention */
#chatMessageList[data-pings="enabled"] .s-chat-message_mention,
.s-chat-message.hasContext {
	background: #ffeecc !important;
	border-color: #ffd480 !important;
	color: #1a1100 !important;
	padding-left: 10px;
}

.s-chat-message.hasContext .s-chat-message_timestamp,
.s-chat-message_mention.s-chat-message_timestamp {
	padding-left: 10px;
}

#chatMessageList[data-pings="enabled"] .s-chat-message_mention a {
	color: #332200 !important;
}

/* chat buttons */
#btnChatSettings,
#btnLoadNewMessages,
.s-chat-message_menu {
	filter: grayscale() brightness(0%);
}

/* scrollbar */
#chatMessageList::-webkit-scrollbar {
	width: 8px;
	background: #fff;
}

/* scrollbar button */
#chatMessageList::-webkit-scrollbar-thumb {
	background: #ffbb33;
	border-radius: 0;
}

#chatMessageList::-webkit-scrollbar-thumb:hover {
	background: #ffc34d;
}

/* claim badge */
.s-chat-message_claim {
	background: #ffdd99;
	border-bottom: none;
	color: #1a1100;
}

/* claim popout box stuff */
#modalClaimBG {
	background: rgba(0, 0, 0, 0.5);
}

/* main inner bit */
#modalClaimList {
	background: #ffeecc;
	color: #1a1100;
	border: none;
}

#modalClaimList a,
#modalClaimList a:active,
#modalClaimList a:visited,
#modalClaimList a:link {
	color: #332200;
}

#modalClaimList a:hover,
#modalClaimList a:focus {
	color: #1a1100;
}

/* header */
#modalClaimList h3 {
	background: #ffdd99;
	color: #1a1100;
}

/* close button */
#modalClaimList button.close {
	color: #1a1100;
}

/* empty pinned message */
#chatMessagePinned {
	background: #ffd480;
	color: #1a1100 !important;
	border: none !important;
}

/* pinned message */
#chatMessagePinned.s-chat-message__pinned {
	background: #ffd480 url('//static.lioden.com/images/layout/sticky.png') no-repeat 10px 6px;
	color: #1a1100 !important;
	border: none !important;
}

/* timestamp */
.s-chat-message_timestamp {
	color: #1a1100;
}

/* mod message text (best left at #000) */
.s-chat-message__mod,
.s-chat-message__mod .s-chat-message_content,
.s-chat-message__mod .s-chat-message_timestamp {
	color: #000;
}

/* menu dropbox */
#fra_chatContainer .channelMenu .channelSwitcher {
	color: #1a1100;
}

#fra_chatContainer .channelMenu .channelSwitcher:hover,
#fra_chatContainer .channelMenu .channelSwitcher:focus {
	background: #ffdd99;
	color: #1a1100;
}

#fra_chatContainer .channelMenu .channelSwitcher.active {
	background: #ffe6b3;
	color: #1a1100;
}

#fra_chatContainer label {
	color: #1a1100;
}

.channelMenu>button,
.channelMenu>div {
	background: #ffeecc !important;
	border-color: transparent !important;
	box-shadow: none !important;
	color: #332200 !important;
}

/* char count */
#lblCharacterCounter {
	color: #1a1100 !important;
}

/* code of conduct */
a[href$='./code.php'] {
	color: #1a1100;
}

/* chat room link */
a[href$='./chat.php'] {
	color: #1a1100;
}

/* Emote List */

.emoteList {
	background: #f2f2f2;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	border: 2px solid #000;
}

.emoteList:after {
	border-bottom-color: #000;
}

.emoteList:before {
	border-bottom-color: #000;
}

/* Branch */

.item {
	background: #ffe6b3;
	border: none;
	border-radius: 5px;
}

.item-header {
	background: #ffdd99;
	color: #1a1100;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.item-footer {
	background: #ffdd99;
	color: #1a1100;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Inner Caves */

/* featured lion section */
.featured-lion {
	background: #ffd480;
	color: #1a1100;
	margin-bottom: 20px;
	/* border-radius: 10px; */
}

/* .featured-lion img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
} */
/* very important if you want it to not look ugly anymore lol don't change the padding here or the media queries */
.featured-lion .b {
	padding-top: 8px;
}

@media (max-width: 684px) {
	div.lionImage.featured-lion>div {
		height: 475px !important;
	}
}

@media (max-width: 620px) {
	div.lionImage.featured-lion>div {
		height: 450px !important;
	}
}

.featured-lion a:link,
.featured-lion a:active,
.featured-lion a:visited {
	color: #332200;
}

.featured-lion a:hover,
.featured-lion a:focus {
	color: #1a1100;
}

/* owned by text */
h1.center>small {
	color: #1a1100 !important;
}

h1.center>small a,
h1.center>small a:link,
h1.center>small a:visited,
h1.center>small a:active {
	color: #332200 !important;
}

h1.center>small a:hover,
h1.center>small a:focus {
	color: #1a1100 !important;
}

/* dropdown */
.table .bottom select {
	color: #000;
}

/* Inner Mounds */

/* menu bg */
.sub_menu {
	background: #ffd480;
	border: none;
	/* border-radius: 10px; */
}

.sub_sub_menu {
	display: none;
}

/* Buttons */

/* regular button */
.select-control,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	background: #ffd480;
	background: linear-gradient(to bottom, #ffd480 5%, #ffc34d 5%, #ffc34d 95%, #ffb31a 95%);
	color: #010101;
	border: 1px solid #ffb31a;
	text-shadow: 1px 1px 0px #ffd480;
	border-radius: 3px;
	font-family: 'Roboto', Verdana, 'Geneva', Tahoma, sans-serif;
}

/* regular button hover */
.select-control:hover,
button.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background: #ffcc66;
	background: linear-gradient(to bottom, #ffcc66 5%, #ffbb33 5%, #ffbb33 95%, #ffaa00 95%);
	color: #010101;
	border: 1px solid #ffaa00;
	text-shadow: 1px 1px 0px #ffcc66;
	border-radius: 3px;
}

/* Event Flavor Text */
/* has to go at the bottom since it likes to be mean to me otherwise trust me best left here lol */

/* center > div.center.b {
	color: #efefef !important;
} */

/* Footer */

/* technically applies to all "white" text on the site but mainly applies to the footer text */
.white {
	color: #1a1100;
}

/* bottom links container size to prevent weird stacking issues */
ul.bottomlinks {
	width: max-content !important;
}

/* links */
.bottomlinks li a,
.bottomlinks li a:link,
.bottomlinks li a:active,
.bottomlinks li a:visited {
	color: #332200;
}

.bottomlinks li a:hover,
.bottomlinks li a:focus {
	color: #1a1100;
}

/* links on smaller screen sizes */
.footer a,
.footer a:link,
.footer a:active,
.footer a:visited {
	color: #332200;
}

.footer a:hover,
footer a:focus {
	color: #1a1100;
}

.page-description {
	border: none;
	background: #ffeecc;
	padding: 20px;
}

.page-description>div {
	padding: 0;
	margin: 0;
}